{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="row title">
        <div class="col-xs-12 col-sm-6 col-md-7"><h2>Site Details</h2></div>

        <div class="col-xs-12 col-sm-6 col-md-3 pull-right">
            <a class="btn btn-primary btn-block" href="#">Edit Site Description</a></div>
        <div class="col-xs-12 col-sm-6 col-md-2 pull-right">
            <a class="btn btn-danger btn-block" id="danger-button" href="#">Delete</a>
        </div>
    </div>
    <div class="row detail-mid">
        <div class="col-xs-12 col-sm-6 col-md-6 pull-right" id="map-canvas"></div>

        <div class="col-xs-12 col-sm-6 col-md-6 pull-right">

            <table class="table">
                <tr>
                    <th>Site Code:</th>
                    <td>{{ Site.samplingfeatureid.samplingfeaturecode }}</td>
                </tr>
                <tr>
                    <th>Site Name:</th>
                    <td>{{ Site.samplingfeatureid.samplingfeaturename }}</td>
                </tr>
                <tr>
                    <th>Elevation:</th>
                    <td>{{ Site.samplingfeatureid.elevation_m }}</td>
                </tr>
                <tr>
                    <th>Latitude:</th>
                    <td>{{ Site.latitude }}</td>
                </tr>
                <tr>
                    <th>Longitude:</th>
                    <td>{{ Site.longitude }}</td>
                </tr>
                <tr>
                    <th>Site Type:</th>
                    <td>{{ Site.sitetypecv }}</td>
                </tr>
                <tr>
                    <th>Site Group:</th>
                    <td>{% if Site.samplingfeatureid.samplingfeaturecode|slice:"2" == "LR" %}
                        Logan River
                    {% elif Site.samplingfeatureid.samplingfeaturecode|slice:"2" == "RB" %}
                        Red Butte Creek
                    {% elif Site.samplingfeatureid.samplingfeaturecode|slice:"2" == "PR" %}
                        Provo River
                    {% endif %}</td>
                </tr>
                <tr>
                    <th>Lat/Long Datum:</th>
                    <td> {{ Site.latlondatumid.srsname }}</td>
                </tr>
                <tr>
                    <th>Vertical Datum:</th>
                    <td> SET VERTICAL DATUM CANNOT FIND!!!</td>
                </tr>
                <tr>
                    <th>State:</th>
                    <td> State?</td>
                </tr>
                <tr>
                    <th>County:</th>
                    <td> County?</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9"><h3>Deployment Measured Variables</h3></div>
        <div class="col-md-3"><a class="btn btn-primary btn-block" href="#">New Deployment Measured Variable</a></div>
    </div>
    <hr class="divider">
    <div class="row">
        <table id="data-table">
            <thead>
            <tr>
                <th>Variable Name</th>
                <th>Recorded Statistic</th>
                <!--<th>Value Offset</th>
                <th>Value Multiplier</th>-->
            </tr>
            </thead>
            <tbody>

            {% for featureaction in Site.samplingfeatureid.featureaction.all %}
                {% for usedequipment in featureaction.actionid.equipmentused.all %}
                    {% for outputvar in usedequipment.equipmentid.equipmentmodelid.instrumentoutputvariable.all %}

                        <tr>
                        <td>
                            <a href="{% url 'measured_variable_detail' outputvar.instrumentoutputvariableid  featureaction.samplingfeatureid.samplingfeatureid %}">
                                {{ outputvar.variableid.variablenamecv }}
                            </a>
                        </td>
                        {% for stat in outputvar.dataloggerfilecolum.all %}
                            <td>{{ stat.aggregationstatisticcv }}</td>
                        {% empty %}
                            <td></td>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-sm-4 col-xs-12 col-md-3 pull-right"><a class="btn btn-block btn-primary"
                                                               href="#">View Deployed Equipment</a></div>
        <div class="col-sm-3 col-xs-12 col-md-2 pull-right"><a class="btn btn-primary btn-block"
                                                               href="#">View Site Visits</a></div>
        <div class="col-sm-3 col-xs-12 col-md-2 pull-right"><a class="btn btn-primary btn-block"
                                                               href="#">New Site Visit</a></div>
    </div>

    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGtObe6Ic1FeiDvC9Oxt3oWc-HWk8wuTk&sensor=false">
    </script>

    <script type="text/javascript" src="{% static "sensordatainterface/js/google_maps.js" %}"></script>
    <script type="text/javascript">
        google.maps.event.addDomListener(window, 'load', initialize({{ Site.latitude }}, {{ Site.longitude }}));
        console.log("Called function");
    </script>
{% endblock %}