{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="row title">
        <div class="col-xs-12 col-sm-6 col-md-7"><h2>Site Details</h2></div>

        <div class="col-xs-12 col-sm-6 col-md-3 pull-right">
            <a class="btn btn-primary btn-block"
               href="{% url 'create_site' Site.samplingfeatureid.samplingfeatureid %}">Edit Site Description</a></div>
        <div class="col-xs-12 col-sm-6 col-md-2 pull-right">
            <a class="btn btn-danger btn-block" data-toggle="confirmation-popout" data-placement="bottom"
               id="danger-button"
               data-href="{% url 'delete_site' Site.samplingfeatureid.samplingfeatureid %}">Delete</a>
        </div>
    </div>
    <div class="row detail-mid">
        <div class="col-xs-12 col-sm-6 col-md-6 pull-right" id="map-canvas"></div>

        <div class="col-xs-12 col-sm-6 col-md-6 pull-right">

            <table class="table">
                <tr>
                    <th>Site Code:</th>
                    <td>{{ Site.samplingfeatureid.samplingfeaturecode }}</td>
                </tr>
                <tr>
                    <th>Site Name:</th>
                    <td>{{ Site.samplingfeatureid.samplingfeaturename }}</td>
                </tr>
                <tr>
                    <th>Site Type:</th>
                    <td>{{ Site.sitetypecv }}</td>
                </tr>
                <tr>
                    <th>Elevation:</th>
                    <td>{{ Site.samplingfeatureid.elevation_m }}</td>
                </tr>
                <tr>
                    <th>Elevation Datum:</th>
                    <td>{{ Site.samplingfeatureid.elevationdatumcv }}</td>
                </tr>
                <tr>
                    <th>Latitude:</th>
                    <td>{{ Site.latitude }}</td>
                </tr>
                <tr>
                    <th>Longitude:</th>
                    <td>{{ Site.longitude }}</td>
                </tr>
                <tr>
                    <th>Spatial Reference:</th>
                    <td>{{ Site.latlondatumid.srsname }}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9"><h3>Instrument Output Variables Table</h3></div>
        <div class="col-md-3"><a class="btn btn-primary btn-block"
                                 href="{% url 'create_output_variable_site' Site.samplingfeatureid.samplingfeatureid %}">New
            Deployment Measured Variable</a></div>
    </div>
    <hr class="divider">
    <div class="row">

        <table class="data-table">
            <thead>
            <tr>
                <th>Variable Code</th>
                <th>Variable Name</th>
                <th>Model Name</th>
                <th>Method Code</th>
                <th>Method Name</th>
            </tr>
            </thead>
            <tbody>

            {% for featureaction in Site.samplingfeatureid.featureaction.all %}
                {# This is if the variables are supposed to be currently deployed #}
                {% if not featureaction.actionid.enddatetime %}
                    {% if featureaction.actionid.actiontypecv == 'Instrument deployment' or featureaction.actionid.actionttype == 'Equipment deployment' %}
                        {% for usedequipment in featureaction.actionid.equipmentused.all %}
                            {% for outputvar in usedequipment.equipmentid.equipmentmodelid.instrumentoutputvariable.all %}

                                <tr>
                                    <td>
                                        <a href="{% url 'measured_variable_detail' outputvar.instrumentoutputvariableid usedequipment.bridgeid featureaction.featureactionid %}">
                                            {{ outputvar.variableid.variablecode }}
                                        </a>
                                    </td>
                                    <td>{{ outputvar.variableid.variablenamecv }}</td>
                                    <td>{{ usedequipment.equipmentid.equipmentmodelid.modelname }}</td>
                                    <td>{{ outputvar.instrumentmethodid.methodcode }}</td>
                                    <td>{{ outputvar.instrumentmethodid.methodname }}</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}{% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-sm-4 col-xs-12 col-md-3 pull-right"><a class="btn btn-block btn-primary"
                                                               href="{% url 'deployments_by_site' 'current' Site.samplingfeatureid.samplingfeatureid %}">View
            Deployed Equipment</a></div>
        <div class="col-sm-3 col-xs-12 col-md-2 pull-right"><a class="btn btn-primary btn-block"
                                                               href="{% url 'site_visits_by_site' Site.samplingfeatureid.samplingfeatureid %}">View
            Site Visits</a></div>
        <div class="col-sm-3 col-xs-12 col-md-2 pull-right"><a class="btn btn-primary btn-block"
                                                               href="{% url 'create_site_visit' Site.samplingfeatureid.samplingfeatureid %}">New Site Visit</a></div>
    </div>

    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGtObe6Ic1FeiDvC9Oxt3oWc-HWk8wuTk&sensor=false">
    </script>

    <script type="text/javascript" src="{% static "sensordatainterface/js/google_maps.js" %}"></script>
    <script type="text/javascript">
        google.maps.event.addDomListener(window, 'load', initialize({{ Site.latitude }}, {{ Site.longitude }}));
    </script>
{% endblock %}