{% extends "base.html" %}
{% block content %}
    <div class="row title">
        <div class="col-xs-12 col-sm-6 col-md-7">
            <h1>Sites</h1>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 pull-right">
            <a class="btn btn-primary btn-block new-btn" href="{% url 'create_site' %}">New Site</a>
        </div>
    </div>
    <table class="data-table">
        <thead>
        <tr>
            <th>Site Code</th>
            <th>Site Name</th>
            <th>Site Type</th>
            <th>Site Group</th>
        </tr>
        </thead>
        <tbody>
        {% for site in Sites %}
            <tr>
                <td>
                    <a href="{% url 'site_detail' site.samplingfeatureid.samplingfeatureid %}">
                        {{ site.samplingfeatureid.samplingfeaturecode }}
                    </a>
                </td>
                <td>{{ site.samplingfeatureid.samplingfeaturename }}</td>
                <td>{{ site.sitetypecv }}</td>
                <td>
                    {% if site.samplingfeatureid.samplingfeaturecode|slice:"2" == "LR" %}
                        Logan River
                    {% elif site.samplingfeatureid.samplingfeaturecode|slice:"2" == "RB" %}
                        Red Butte Creek
                    {% elif site.samplingfeatureid.samplingfeaturecode|slice:"2" == "PR" %}
                        Provo River
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}