{% extends "base.html" %}
{% block content %}
    <h1>ALOHAAAAAA</h1>
    <form class="input-group" action="{% url 'create_site' %}" method="post">
        {% csrf_token %}
        <input type="hidden" value="{{ action }}" name="action">
        <input type="hidden" value="{{ site_id }}" name="site_id">
        <table class="table form-table form-group">
            {{ SampFeatForm.as_table }}
            {{ SiteForm.as_table }}
            <tr>
                <th></th>
                <td><input class="btn btn-primary"type="submit" value="{{ action|capfirst }} Site"></td>
            </tr>
        </table>
    </form>
{% endblock %}