{% extends "base.html" %}
{% block content %}
    <h1>Sites</h1>
    <button id="new-site-btn">New Site</button>
    <table id="data-table">
    <thead>
    <tr><th>Site Code</th><th>Site Name</th><th>Group Type</th><th>Site Type</th></tr>
    </thead>
    <tbody>
    {% for site in Sites %}
        <tr>
            <td>
                <a href="/site-detail/{{ site.samplingfeatureid.samplingfeatureid }}">
                    {{ site.samplingfeatureid.samplingfeaturecode }}
                </a>
            </td>
            <td>{{ site.samplingfeatureid.samplingfeaturename }}</td>
            <td>
                {% if site.samplingfeatureid.samplingfeaturecode|slice:"2" == "LR"%}
                    Logan River
                {% elif site.samplingfeatureid.samplingfeaturecode|slice:"2" == "RB" %}
                    Red Butte Creek
                {% elif site.samplingfeatureid.samplingfeaturecode|slice:"2" == "PR" %}
                    Provo River
                {% endif %}
            </td>
            <td>{{ site.sitetypecv }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}