{% extends "base-form.html" %}
{% block button_value %}{% block item_name %}
    {% if action_type == 'Generic' %}
        Generic
    {% elif action_type == 'EquipmentDeployment' or 'InstrumentDeployment'%}
        Deployment
    {% elif action_type == 'InstrumentCalibration' %}
        Calibration
    {% else %}
        Generic
    {% endif %}
    Action {% endblock %}{% endblock %}
{% block form_class %}{{ action_type }}{% endblock %}
{% block hidden_data %} <input type="hidden" value="{{ site_id }}" name="site_id"> {% endblock %}
{% block submit_url %}{% url 'create_action' action_type %}{% endblock %}
{% block detail_cancel_url %}{% url 'field_activity_detail' item_id %}{% endblock %}
{% block list_cancel_url %}{% url 'field_activities' %}{% endblock %}
{% block mock_forms %}{{ block.super }}{% endblock %}
