{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="col-xs-12 col-sm-6 col-md-7">
        <h1>Calibrations</h1>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 pull-right">
        <button class="btn btn-primary btn-block new-btn">New Calibration</button>
    </div>
    <table id="data-table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Equipment SN</th>
            <th>Equipment Model Name</th>
            <th>Site Name</th>
            <th>Site Group</th>
            <th>Crew</th>
        </tr>
        </thead>
        <tbody>
        {% for calibration in Calibrations %}
            {% for site in calibration.actionid.featureaction.all %}
                <tr>
                    <td>
                        <a href="{% url 'calibration_detail' calibration.actionid.actionid %}">
                            {{ calibration.actionid.begindatetime }}
                        </a>
                    </td>
                    <td>{{ calibration.equipmentid.equipmentserialnumber }}</td>
                    <td>{{ calibration.equipmentid.equipmentmodelid.modelname }}</td>
                    <td>{{ site.samplingfeatureid.samplingfeaturename }}</td>
                    <td>
                    {% if site.samplingfeatureid.samplingfeaturecode|slice:"2" == "LR" %}Logan River
                    {% elif site.samplingfeatureid.samplingfeaturecode|slice:"2" == "RB" %}Red Butte Creek
                    {% elif site.samplingfeatureid.samplingfeaturecode|slice:"2" == "PR" %}Provo River{% endif %}</td>
                    <td>{% for person in calibration.actionid.actionby.all %}
                        {{ person.affiliationid.personid.personfirstname }}
                        {{ person.affiliationid.personid.personlastname }}
                        {% if not forloop.last %}, {% endif %}
                {% endfor %}</td>

                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    <script src="{% static  "sensordatainterface/js/utilities.js" %}"></script>
{% endblock %}