{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="col-xs-12 col-sm-6 col-md-7">
        <h1>Calibrations
            {% if equipment_name %} for Equipment {{ equipment_name.equipmentserialnumber }}
            {% endif %}</h1>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 pull-right">
        <button class="btn btn-primary btn-block new-btn">New Calibration</button>
    </div>
    <table id="data-table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Equipment Serial Number</th>
            <th>Equipment Type</th>
            <th>Manufacturer Name</th>
            <th>Equipment Model Name</th>
        </tr>
        </thead>
        <tbody>
        {% for calibration in Calibrations %}
            {% for site in calibration.actionid.featureaction.all %}
                <tr>
                    <td>
                        <a href="{% url 'calibration_detail' calibration.actionid.actionid %}">
                            {{ calibration.actionid.begindatetime }}
                        </a>
                    </td>
                    <td>{{ calibration.equipmentid.equipmentserialnumber }}</td>
                    <td>{{ calibration.equipmentid.equipmenttypecv }}</td>
                    <td>{{ calibration.equipmentid.equipmentmodelid.modelmanufacturerid.organizationname }}</td>
                    <td>{{ calibration.equipmentid.equipmentmodelid.modelname }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}