{% extends "base.html" %}
{% load static %}
{% load template_tags %}
{% block content %}
    <div class="row title">
        <div class="col-xs-12 col-sm-6 col-md-7"><h2>Calibration Details</h2></div>
        <div class="col-xs-12 col-sm-6 col-md-3 pull-right">
            <a class="btn btn-primary btn-block" href="#">Edit Calibration Description</a></div>
        <div class="col-xs-12 col-sm-6 col-md-2 pull-right">
            <a class="btn btn-danger btn-block" id="danger-button" href="#">Delete</a>
        </div>
    </div>
    <div class="row detail-mid">
        <div class="col-xs-12 col-sm-6 col-md-6 pull-right"></div>
        <div class="col-xs-12 col-sm-6 col-md-6 pull-right">
            <h3>Equipment</h3>
            <table class="table">
                <tr>
                    <th>Equipment Serial Number:</th>
                    <td>
                        <a href="{% url 'equipment_detail' Calibration.equipmentid.equipmentid %}">{{ Calibration.equipmentid.equipmentserialnumber }}</a>
                    </td>
                </tr>
                <tr>
                    <th>Equipment Code:</th>
                    <td>{{ Calibration.equipmentid.equipmentcode }}</td>
                </tr>
                <tr>
                    <th>Equipment Name:</th>
                    <td>{{ Calibration.equipmentid.equipmentname }}</td>
                </tr>
                <tr>
                    <th>Equipment Type:</th>
                    <td>{{ Calibration.equipmentid.equipmenttypecv }}</td>
                </tr>
                <tr>
                    <th>Equipment Model Name:</th>
                    <td><a href="{% url 'models_detail' Calibration.equipmentid.equipmentmodelid.equipmentmodelid %}">
                        {{ Calibration.equipmentid.equipmentmodelid.modelname }}</a>
                    </td>
                </tr>
                <tr>
                    <th>Manufacturer Name:</th>
                    <td>{{ Calibration.equipmentid.equipmentmodelid.modelmanufacturerid.organizationname }}</td>
                </tr>
                <tr>
                    <th>Owner Name:</th>
                    <td>{{ Calibration.equipmentid.equipmentownerid.personfirstname }} {{ Calibration.equipmentid.equipmentownerid.personlastname }}</td>
                </tr>

            </table>
            <h3>Calibration</h3>
            <table class="table">
                {% if Calibration.actionid.featureaction.get %}
                    <tr>
                        <th>Site Code:</th>
                        <td>{{ Calibration.actionid.featureaction.get.samplingfeatureid.samplingfeaturecode }}</td>
                    </tr>
                    <tr>
                        <th>Site Name:</th>
                        <td>{{ Calibration.actionid.featureaction.get.samplingfeatureid.samplingfeaturename }}</td>
                    </tr>
                {% endif %}

                <tr>
                    <th>Action Begin DateTime:</th>
                    <td>{{ Calibration.actionid.begindatetime }}</td>
                </tr>
                <tr>
                    <th>Action End DateTime:</th>
                    <td>{{ Calibration.actionid.enddatetime|default:"present" }}</td>
                </tr>
                <tr>
                    <th>UTC Offset:</th>
                    <td>{{ Calibration.actionid.begindatetimeutcoffset }}</td>
                </tr>
                <tr>
                    <th>Action Description:</th>
                    <td> {{ Calibration.actionid.actiondescription }}</td>
                </tr>
                {#calibrationactions is one to one with actions #}
                {% with variable=Calibration.actionid.calibrationaction.all.0 %}
                    <tr>
                        <th>Variable Code:</th>
                        <td> {{ variable.instrumentoutputvariableid.variableid.variablecode }}</td>
                    </tr>
                    <tr>
                        <th>Variable Name:</th>
                        <td> {{ variable.instrumentoutputvariableid.variableid.variablenamecv }}</td>
                    </tr>
                    <tr>
                        <th>Check Value:</th>
                        <td>
                            {{ variable.calibrationcheckvalue|default:" -- " }}
                        </td>
                    </tr>
                    <tr>
                        <th>Calibration Equation:</th>
                        <td>
                            {{ variable.calibrationequation|default:" -- " }}
                        </td>
                    </tr>
                {% endwith %}
                <tr>
                    <th>Calibration Link:</th>
                    <td>{{ Calibration.actionid.actionfilelink|default:" -- " }}</td>
                </tr>
            </table>
            <h3>Reference Material</h3>
            <table class="table">
                {% for calibrationactions in Calibration.actionid.calibrationaction.all %}
                    {% for referencematerial in calibrationactions.calibrationstandard.all %}
                        <tr>
                            <th>Reference Material Medium:</th>
                            <td>{{ referencematerial.referencematerialid.referencematerialmediumcv|default:" -- " }}</td>
                            {# Detail Pages for later... #}
                        </tr>

                        <tr>
                            <th>Organization Name:</th>
                            <td>{{ referencematerial.referencematerialid.referencematerialorganizationid.organizationname|default:" -- " }}</td>
                        </tr>
                        <tr>
                            <th>Reference Material Code:</th>
                            <td>{{ referencematerial.referencematerialid.referencematerialcode|default:" -- " }}</td>
                        </tr>
                        <tr>
                            <th>Reference Material Lot Code:</th>
                            <td>{{ referencematerial.referencematerialid.referencemateriallotcode|default:" -- " }}</td>
                        </tr>
                        <tr>
                            <th>Purchase Date:</th>
                            <td>{{ referencematerial.referencematerialid.referencematerialpurchasedate|default:" -- " }}</td>
                        </tr>
                        <tr>
                            <th>Expiration Date:</th>
                            <td>{{ referencematerial.referencematerialid.referencematerialexpirationdate|default:" -- " }}</td>
                        </tr>
                        <tr>
                            <th>Certificate Link:</th>
                            <td>{% if referencematerial.referencematerialid.referencematerialcertificatelink %}
                                <a href="{{ referencematerial.referencematerialid.referencematerialcertificatelink }}">
                                    {# check for correct link format #}
                                    {{ referencematerial.referencematerialid.referencematerialcertificatelink }}</a>
                            {% else %}
                                --
                            {% endif %}
                            </td>
                            {% for materialvalue in referencematerial.referencematerialid.referencematerialvalue.all %}
                                </tr>
                                <tr>
                                    <th>Value:</th>
                                    <td>{{ materialvalue.referencematerialvalue|default:" -- " }}</td>
                                </tr>
                                <tr>
                                    <th>Value Accuracy:</th>
                                    <td>{{ materialvalue.referencematerialaccuracy|default:" -- " }}</td>
                                </tr>
                                <tr>
                                    <th>Units:</th>
                                    <td>{{ materialvalue.unitsid.unitsname|default:" -- " }}</td>
                                </tr>
                            {% endfor %}
                         {% empty %}
                                <tr>
                                    <td>No Reference Material information for this calibration.</td>
                                </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        <h3>Reference Equipment</h3>
            <table class="table">
                {% for calibrationactions in Calibration.actionid.calibrationaction.all %}
                    {% for referenceequipment in calibrationactions.calibrationreferenceequipment.all %}
                        <tr>
                            <th>Equipment Serial Number:</th>
                            <td><a href="{% url 'equipment_detail' referenceequipment.equipmentid.equipmentid %}">
                            {{ referenceequipment.equipmentid.equipmentserialnumber|default:" -- " }}</a></td>
                        </tr>

                        <tr>
                            <th>Equipment Code:</th>
                            <td>{{ referenceequipment.equipmentid.equipmentcode|default:" -- " }}</td>
                        </tr>
                        <tr>
                            <th>Equipment Name:</th>
                            <td>{{ referenceequipment.equipmentid.equipmentname|default:" -- " }}</td>
                        </tr>
                        <tr>
                            <th>Equipment Type:</th>
                            <td>{{ referenceequipment.equipmentid.equipmenttypecv|default:" -- " }}</td>
                        </tr>
                        <tr>
                            <th>Manufacturer Name:</th>
                            <td>{{ referenceequipment.equipmentid.equipmentmodelid.modelmanufacturerid.organizationname|default:" -- " }}</td>
                        </tr>
                        <tr>
                            <th>Equipment Model Name:</th>
                            <td><a href="{% url 'equipment_detail' referenceequipment.equipmentid.equipmentmodelid.equipmentmodelid %}">
                                {{ referenceequipment.equipmentid.equipmentmodelid.modelname|default:" -- " }}</a></td>
                        </tr>
                        <tr>
                            <th>Owner Name:</th>
                            <td>{{ referenceequipment.equipmentid.equipmentownerid.personfirstname }} {{ referenceequipment.equipmentid.equipmentownerid.personlastname|default:" -- " }}</td>
                        </tr>

                         {% empty %}
                                <tr>
                                    <td>No Reference Equipment information for this calibration.</td>
                                </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-xs-12 col-md-2 pull-right"><a class="btn btn-primary btn-block"
                {% for related in Calibration.actionid.relatedaction.all %}
                    {% if related.relationshiptypecv == 'is_child_of' %}
                                                               href="{% url 'site_visit_detail' related.relatedactionid.actionid %}"
                    {% endif %}
                {% endfor %}>Go to Site Visit</a></div>
        <div class="col-sm-3 col-xs-12 col-md-3 pull-right">
            <a class="btn btn-primary btn-block"
               href="{% url 'calibrations_by_equipment' Calibration.equipmentid.equipmentid %}">View Equipment's
                Calibration History</a>
        </div>
    </div>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGtObe6Ic1FeiDvC9Oxt3oWc-HWk8wuTk&sensor=false">
    </script>

    <script type="text/javascript" src="{% static "sensordatainterface/js/google_maps.js" %}"></script>
{% endblock %}