{% extends "base.html" %}
{% load static %}
{% load template_tags %}
{% block content %}
    <div class="row title">
        <div class="col-xs-12 col-sm-6 col-md-7"><h2>Calibration Details</h2></div>
        <div class="col-xs-12 col-sm-6 col-md-3 pull-right">
            <a class="btn btn-primary btn-block"
               href="{% url 'create_action' 'InstrumentCalibration' Calibration.actionid %}">Edit Calibration
                Description</a></div>
        <div class="col-xs-12 col-sm-6 col-md-2 pull-right">
            <a class="btn btn-danger btn-block" id="danger-button"
               href="{% url 'create_action' 'InstrumentCalibration' Calibration.actionid %}">Delete</a>
        </div>
    </div>
    <div class="row">
        {#calibrationactions is one to one with actions #}
        {% with variable=Calibration.calibrationaction.all.0 %}
            <div class="col-xs-12 col-sm-12 col-md-6 pull-right">
                <h3>Site</h3>
                <table class="table">
                    {% if Calibration.featureaction.get %}
                        <tr>
                            <th>Site Code:</th>
                            <td>{{ Calibration.featureaction.get.samplingfeatureid.samplingfeaturecode }}</td>
                        </tr>
                        <tr>
                            <th>Site Name:</th>
                            <td>{{ Calibration.featureaction.get.samplingfeatureid.samplingfeaturename }}</td>
                        </tr>
                    {% endif %}
                </table>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 pull-left">
                <h3>Calibration</h3>
                <table class="table">
                    <tr>
                        <th>Action Begin DateTime:</th>
                        <td>{{ Calibration.begindatetime }}</td>
                    </tr>
                    <tr>
                        <th>UTC Offset:</th>
                        <td>{{ Calibration.begindatetimeutcoffset }}</td>
                    </tr>
                    <tr>
                        <th>Check Value:</th>
                        <td>
                            {{ variable.calibrationcheckvalue|default:" -- " }}
                        </td>
                    </tr>
                    <tr>
                        <th>Action End DateTime:</th>
                        <td>{{ Calibration.enddatetime|default:"present" }}</td>
                    </tr>
                    <tr>
                        <th>Calibration Equation:</th>
                        <td>
                            {{ variable.calibrationequation|default:" -- " }}
                        </td>
                    </tr>
                    <tr>
                        <th>Calibration Link:</th>
                        <td><a href="{{ MEDIA_URL }}{{ Calibration.actionfilelink }}">{{ Calibration.actionfilelink|get_media_file_name|default:" -- " }}</a>
                        </td>
                    </tr>
                    <tr>
                        <th>Action Description:</th>
                        <td colspan="4"> {{ Calibration.actiondescription }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 pull-right">
                <h3>Variable</h3>
                <table class="table">
                    <tr>
                        <th>Variable Code:</th>
                        <td> {{ variable.instrumentoutputvariableid.variableid.variablecode }}</td>
                    </tr>
                    <tr>
                        <th>Variable Name:</th>
                        <td> {{ variable.instrumentoutputvariableid.variableid.variablenamecv }}</td>
                    </tr>
                </table>
            </div>
        {% endwith %}
    </div>
    <div class="row detail-mid">
        <h3>Equipment Used</h3>
        <table class="data-table">
            <thead>
            <tr>
                <th>Equipment Serial Number</th>
                <th>Equipment Code</th>
                <th>Equipment Name</th>
                <th>Equipment Type</th>
                <th>Equipment Model Name</th>
                <th>Manufacturer Name</th>
                <th>Owner Name</th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody>
            {% for equipment in Calibration.equipmentused.all %}
                <tr>
                    <td>
                        <a href="{% url 'equipment_detail' equipment.equipmentid.equipmentid %}">{{ equipment.equipmentid.equipmentserialnumber }}</a>
                    </td>
                    <td>{{ equipment.equipmentid.equipmentcode }}</td>
                    <td>{{ equipment.equipmentid.equipmentname }}</td>
                    <td>{{ equipment.equipmentid.equipmenttypecv }}</td>
                    <td>
                        <a href="{% url 'models_detail' equipment.equipmentid.equipmentmodelid.equipmentmodelid %}">
                            {{ equipment.equipmentid.equipmentmodelid.modelname }}</a>
                    </td>
                    <td>{{ equipment.equipmentid.equipmentmodelid.modelmanufacturerid.organizationname }}</td>
                    <td>
                        <a href="{% url 'person_detail' equipment.equipmentid.equipmentownerid.affiliation.get.affiliationid %}">
                            {{ equipment.equipmentid.equipmentownerid.personfirstname }}
                            {{ equipment.equipmentid.equipmentownerid.personlastname|default:" -- " }}
                        </a>
                    </td>
                    <td>
                        <div class="cal-equ-used-option col-sm-12 col-xs-12 col-md-10 pull-right">
                            <a class="view-hist-button btn btn-primary btn-block"
                               href="{% url 'calibrations_by_equipment' equipment.equipmentid.equipmentid %}">View Calibration History</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="modal fade" id="related-equ-modal" tabindex="-1" role="dialog"
             aria-labelledby="related-equ-modalTitle">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <h3 class="modal-title" id="related-equ-modalTitle">Reference Material</h3>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <table class="data-table">
                            <thead>
                            <tr>
                                <th>Reference Material Medium</th>
                                <th>Organization Name</th>
                                <th>Reference Material Code</th>
                                <th>Reference Material Lot Code</th>
                                <th>Purchase Date</th>
                                <th>Expiration Date</th>
                                <th>Certificate Link</th>
                                <th>Value</th>
                                <th>Value Accuracy</th>
                                <th>Units</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for calibrationactions in Calibration.calibrationaction.all %}
                                {% for referencematerial in calibrationactions.calibrationstandard.all %}
                                    <tr>
                                    <td>{{ referencematerial.referencematerialid.referencematerialmediumcv|default:" -- " }}</td>
                                    {# Detail Pages for later... #}
                                    <td>{{ referencematerial.referencematerialid.referencematerialorganizationid.organizationname|default:" -- " }}</td>
                                    <td>{{ referencematerial.referencematerialid.referencematerialcode|default:" -- " }}</td>
                                    <td>{{ referencematerial.referencematerialid.referencemateriallotcode|default:" -- " }}</td>
                                    <td>{{ referencematerial.referencematerialid.referencematerialpurchasedate|default:" -- " }}</td>
                                    <td>{{ referencematerial.referencematerialid.referencematerialexpirationdate|default:" -- " }}</td>
                                    <td>
                                        {% if referencematerial.referencematerialid.referencematerialcertificatelink %}
                                            <a href="{{ referencematerial.referencematerialid.referencematerialcertificatelink }}">
                                                {# check for correct link format #}
                                                {{ referencematerial.referencematerialid.referencematerialcertificatelink }}</a>
                                        {% else %}
                                            --
                                        {% endif %}
                                    </td>
                                    {% for materialvalue in referencematerial.referencematerialid.referencematerialvalue.all %}
                                        {% if materialvalue.variableid == calibrationactions.istrumentoutputvariableid.variableid %}
                                            <td>{{ materialvalue.referencematerialvalue|default:" -- " }}</td>
                                            <td>{{ materialvalue.referencematerialaccuracy|default:" -- " }}</td>
                                            <td>{{ materialvalue.unitsid.unitsname|default:" -- " }}</td>
                                        {% else %}
                                            <td> --</td>
                                            <td> --</td>
                                            <td> --</td>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="reference-equ-modal" tabindex="-1" role="dialog"
             aria-labelledby="reference-equ-modalTitle">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <h3 class="modal-title" id="reference-equ-modalTitle">Reference Equipment</h3>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <table class="data-table">
                            <thead>
                            <tr>
                                <th>Equipment Serial Number</th>
                                <th>Equipment Code</th>
                                <th>Equipment Name</th>
                                <th>Equipment Type</th>
                                <th>Manufacturer Name</th>
                                <th>Equipment Model Name</th>
                                <th>Owner Name</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for calibrationactions in Calibration.calibrationaction.all %}
                                {% for referenceequipment in calibrationactions.calibrationreferenceequipment.all %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'equipment_detail' referenceequipment.equipmentid.equipmentid %}">
                                                {{ referenceequipment.equipmentid.equipmentserialnumber|default:" -- " }}</a>
                                        </td>
                                        <td>{{ referenceequipment.equipmentid.equipmentcode|default:" -- " }}</td>
                                        <td>{{ referenceequipment.equipmentid.equipmentname|default:" -- " }}</td>
                                        <td>{{ referenceequipment.equipmentid.equipmenttypecv|default:" -- " }}</td>
                                        <td>{{ referenceequipment.equipmentid.equipmentmodelid.modelmanufacturerid.organizationname|default:" -- " }}</td>
                                        <td>
                                            <a href="{% url 'equipment_detail' referenceequipment.equipmentid.equipmentmodelid.equipmentmodelid %}">
                                                {{ referenceequipment.equipmentid.equipmentmodelid.modelname|default:" -- " }}</a>
                                        </td>
                                        <td>
                                            <a href="{% url 'person_detail' referenceequipment.equipmentid.equipmentownerid.affiliation.get.affiliationid %}">
                                                {{ referenceequipment.equipmentid.equipmentownerid.personfirstname }}
                                                {{ referenceequipment.equipmentid.equipmentownerid.personlastname|default:" -- " }}
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-xs-12 col-md-2 pull-right"><a class="btn btn-primary btn-block"
                {% for related in Calibration.relatedaction.all %}
                    {% if related.relationshiptypecv == 'Is child of' %}
                                                               href="{% url 'site_visit_detail' related.relatedactionid.actionid %}"
                    {% endif %}
                {% endfor %}>Go to Site Visit</a></div>
        <div class="col-xs-12 col-sm-6 col-md-3 pull-right">
            <button type="button" class="btn btn-primary btn-block"
                    data-toggle="modal"
                    data-target="#related-equ-modal">Show Related Equipment Table</button>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 pull-right">
            <button type="button" class="btn btn-primary btn-block"
                    data-toggle="modal"
                    data-target="#reference-equ-modal">Show Reference Equipment Table</button>
        </div>
    </div>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGtObe6Ic1FeiDvC9Oxt3oWc-HWk8wuTk&sensor=false">
    </script>

    <script type="text/javascript" src="{% static "sensordatainterface/js/google_maps.js" %}"></script>
{% endblock %}