{% extends "base.html" %}
{% load static %}
{% load template_tags %}
{% block content %}

<div class="row title">
    <div class="col-xs-12 col-sm-6 col-md-7">
        <h2>People</h2>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 pull-right">
        <a class="btn btn-primary new-btn" href="{% url 'create_person' %}">Create Person</a>
    </div>
</div>
<table class="data-table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Organization</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    {% for person in Humans %}
        <tr>
            <td>
                <a href="{% url 'person_detail' person.personid.personid %}">
                    {{ person.personid.personfirstname }} {{ person.personid.personlastname }}
                </a>
            </td>
            <td>{{ person.organizationid.organizationname }}</td>
            <td>{{ person.primaryaddress }}</td>
            <td>{{ person.primaryphone }}</td>
            <td>{{ person.primaryemail }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}