{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Equipment Management{% block title %}{% endblock %}</title>
    <link rel="icon" href="{% static "sensordatainterface/img/favicon.ico" %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{%  static "sensordatainterface/js/vendor/datetimepicker/jquery.datetimepicker.css" %}">
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static "sensordatainterface/css/main_style.css" %}" TYPE="text/css">
</head>

<body>
<div class="content">
<nav class="navbar navbar-default">
    <div class="container-fluid container">
        <div class="navbar-header" id="logo">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{% url 'home' %}"><img id="image_logo" src="{% static "sensordatainterface/img/iutah_logo.png" %}"
                                            width="128" height="45"/></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
                <li class="" id="sites-nav"><a href="{% url 'home' %}">Sites<span class="sr-only">(current)</span></a>
                </li>

                <li class="dropdown" id="visits-nav">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Site
                        Visits
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'site_visits' %}">Visits</a></li>
                        <li><a href="{% url 'deployments' %}">Deployments</a></li>
                        <li><a href="{% url 'calibrations' %}">Calibrations</a></li>
                        <li><a href="{% url 'field_activities' %}">Other Activities</a></li>
                    </ul>
                </li>
                <li class="dropdown" id="inventory-nav">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Inventory
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'equipment' %}">Equipment</a></li>
                        <li><a href="{% url 'factory_service' %}">Factory Service History</a></li>
                        <li><a href="{% url 'sensor_output' %}">Sensor Output Variables</a></li>
                        <li><a href="{% url 'models' %}">Equipment Models</a></li>
                    </ul>
                </li>
                <li id="vocabulary-nav"><a href="{% url 'vocabularies' %}">Vocabularies</a></li>
            </ul>
            {% if user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a id="username">{{ user.get_full_name }}</a>
                    </li>
                    <li>
                        <a href="{% url 'logout_user' %}">Logout</a>
                    </li>
                </ul>
            {% endif %}

        </div>
    </div>
</nav>
{% if messages %}
            {% for message in messages %}
                <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
<div id="site_content" class="container">
    {% block content %}{% endblock %}
</div>
<div class="row footer">
    <footer class="container">
        <span>Copyright © 2013 iUTAH</span>
        <span>This material is based upon work supported by the National Science Foundation (NSF) under Grant No. XXXXXXXX.</span>
        <span>Any opinions, findings, conclusions, or recommendations expressed in this material are those of the authors and do not necessarily reflect the views of the NSF.</span>
    </footer>
</div>
</div>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
<script src="{% static "sensordatainterface/js/datatable.js" %}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="{% static "sensordatainterface/js/vendor/bootstrap/bootstrap-tooltip.js" %}"></script>
<script src="{% static "sensordatainterface/js/vendor/bootstrap/bootstrap-confirmation.js" %}"></script>
<script src="{% static "sensordatainterface/js/vendor/datetimepicker/jquery.datetimepicker.js" %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
<script src="{% static  "sensordatainterface/js/utilities.js" %}"></script>
</body>
</html>