{% extends "base.html" %}
{% load static %}
{# Template form only for simple forms #}
{% block content %}
    <div class="row title">
        <h1 class="col-xs-12 col-sm-12 col-md-12">{{ action|capfirst }}
        {% block item_name %}{% endblock %}
        </h1>
    </div>
    <div class="row">
        <form enctype="multipart/form-data" class="input-group col-xs-12 col-md-12 col-lg-12 col-sm-12 {% block form_class %}{% endblock %}" action="{% block submit_url %}{% endblock %}"
              method="post">
            {% csrf_token %}
            <input type="hidden" value="{{ action }}" name="action">
            <input type="hidden" value="{{ item_id }}" name="item_id">
            <table class="table form-table form-group">
                {% for render_form in render_forms %}
                    {{ render_form.as_table }}
                {% endfor %}

                <tbody>
                    <tr>
                        <th></th>
                        <td>
                            <div class="row">
                                <a class="btn btn-default col-xs-12 col-sm-12"
                                        {% if item_id %}
                                   href="{% block detail_cancel_url %}{% endblock %}"
                                        {% else %}
                                   href="{% block list_cancel_url %}{% endblock %}"
                                        {% endif %}>
                                    Cancel
                                </a>
                                <input class="btn btn-primary col-xs-12 col-sm-12" type="submit"
                                       value="{{ action|capfirst }} {% block button_value %}{% endblock %}">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static  "sensordatainterface/js/common_forms.js" %}"></script>
{% endblock %}