{% extends "base.html" %}
{% block content %}

    <!-- This view of deployment measured variables might need a better ORM query or it's own detail view.
    Relationships needed to bring data are a bit confusing.-->
    <div class="row title">
        <div class="col-xs-12 col-sm-6 col-md-7"><h2>Detailed Deployment Measured Variable</h2></div>
        <div class="col-xs-12 col-sm-6 col-md-3 pull-right">
            <a class="btn btn-primary btn-block"
               href="{% url 'create_output_variable_site' site_id.samplingfeatureid MeasuredVariable.instrumentoutputvariableid  %}">Edit Variable
                Description</a></div>
        <div class="col-xs-12 col-sm-6 col-md-2 pull-right">
            <a class="btn btn-danger btn-block" id="danger-button"
               data-href="{% url 'delete_output_variable' MeasuredVariable.instrumentoutputvariableid %}">Delete</a>
        </div>
    </div>
    {% include "sites/measured-variable-detail-snippet.html" %}
{% endblock %}