{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="row title">
        <div class="col-xs-12 col-sm-6 col-md-7">
            <h1>Calibrations
                {% if equipment_name %} for Equipment {{ equipment_name.equipmentserialnumber }}
                {% endif %}</h1>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 pull-right">
            <a class="btn btn-primary btn-block new-btn" href="{% url 'create_action' 'InstrumentCalibration' %}">New
                Calibration</a>
        </div>
    </div>
    <table class="data-table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Equipment Serial Number</th>
            <th>Equipment Type</th>
            <th>Manufacturer Name</th>
            <th>Model Name</th>
        </tr>
        </thead>
        <tbody>
        {% for calibration in Calibrations %}
            {% for site in calibration.featureaction.all %}
                {% for equipment in calibration.equipmentused.all %}
                    {% if not equipment_id or equipment.equipmentid_id == equipment_id %}
                        <tr>
                            <td data-order="{{ calibration.begindatetime|date:'U' }}">
                                <a href="{% url 'calibration_detail' calibration.actionid %}">
                                    {{ calibration.begindatetime }}
                                </a>
                            </td>
                            <td>{{ equipment.equipmentid.equipmentserialnumber }}</td>
                            <td>{{ equipment.equipmentid.equipmenttypecv_id }}</td>
                            <td>{{ equipment.equipmentid.equipmentmodelid.modelmanufacturerid.organizationname }}</td>
                            <td>{{ equipment.equipmentid.equipmentmodelid.modelname }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}