{% extends "base.html" %}
{% load static %}
{% load template_tags %}
{% block content %}
    <div class="row title">
        <div class="col-xs-12 col-sm-6 col-md-7"><h2>Calibration Details</h2></div>
        <div class="col-xs-12 col-sm-6 col-md-3 pull-right">
            <a class="btn btn-primary btn-block" href="{% url 'create_action' 'InstrumentCalibration' Calibration.actionid %}">Edit Calibration Description</a></div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 pull-left">
        <h3>Calibration</h3>
        <table class="table">
            {#calibrationactions is one to one with actions #}
            {% with variable=Calibration.calibrationaction.all.0 %}
                <tr>
                    {% if Calibration.featureaction.all.exists %}
                        <th>Site Code:</th>
                        <td>{{ Calibration.featureaction.all.0.samplingfeatureid.samplingfeaturecode }}</td>
                    {% endif %}
                    <th>Action Begin DateTime:</th>
                    <td>{{ Calibration.begindatetime }}</td>
                    <th>UTC Offset:</th>
                    <td>{{ Calibration.begindatetimeutcoffset }}</td>
                    <th>Variable Code:</th>
                    <td>{{ variable.instrumentoutputvariableid.variableid.variablecode }}</td>
                    <th>Check Value:</th>
                    <td>
                        {{ variable.calibrationcheckvalue|default:" -- " }}
                    </td>
                </tr>
                <tr>
                    {% if Calibration.featureaction.all.0 %}
                        <th>Site Name:</th>
                        <td>{{ Calibration.featureaction.all.0.samplingfeatureid.samplingfeaturename }}</td>
                    {% endif %}
                    <th>Action End DateTime:</th>
                    <td>{{ Calibration.enddatetime|default:"present" }}</td>
                    <th>Variable Name:</th>
                    <td> {{ variable.instrumentoutputvariableid.variableid.variablenamecv }}</td>
                    <th>Calibration Equation:</th>
                    <td>
                        {{ variable.calibrationequation|default:" -- " }}
                    </td>
                    <th>Calibration Link:</th>
                    <td><a href="{{ MEDIA_URL }}{{ Calibration.actionfilelink }}">{{ Calibration.actionfilelink|get_media_file_name|default:" -- " }}</a></td>
                </tr>
                <tr>
                    <th>Action Description:</th>
                    <td colspan="4"> {{ Calibration.actiondescription }}</td>
                </tr>
            {% endwith %}
        </table>
    </div>

    <div class="col-sm-3 col-xs-12 col-md-2 pull-right" style="margin-top: 10px">
        <div class="row">
        {% for related in Calibration.relatedaction.all %}
            {% if related.relationshiptypecv_id == 'Is child of' %}
                <a class="btn btn-primary btn-block" href="{% url 'site_visit_detail' related.relatedactionid.actionid %}">Go to Site Visit</a>
            {% endif %}
        {% endfor %}
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 pull-left">
            <h3>Equipment Used</h3>


        {% for equipment in Calibration.equipmentused.all %}
            <div class="row side-by-side-item small-box-item">

                <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 side-table-details">
                    <table class="table">
                <tr>
                    <th>Equipment Serial Number:</th>
                    <td>
                        <a href="{% url 'equipment_detail' equipment.equipmentid.equipmentid %}">{{ equipment.equipmentid.equipmentserialnumber }}</a>
                    </td>
                </tr>
                <tr>
                    <th>Equipment Code:</th>
                    <td>{{ equipment.equipmentid.equipmentcode }}</td>
                </tr>
                <tr>
                    <th>Equipment Name:</th>
                    <td>{{ equipment.equipmentid.equipmentname }}</td>
                </tr>
                <tr>
                    <th>Equipment Type:</th>
                    <td>{{ equipment.equipmentid.equipmenttypecv_id }}</td>
                </tr>
                <tr>
                    <th>Equipment Model Name:</th>
                    <td><a href="{% url 'models_detail' equipment.equipmentid.equipmentmodelid_id %}">
                        {{ equipment.equipmentid.equipmentmodelid.modelname }}</a>
                    </td>
                </tr>
                <tr>
                    <th>Manufacturer Name:</th>
                    <td>{{ equipment.equipmentid.equipmentmodelid.modelmanufacturerid.organizationname }}</td>
                </tr>
                <tr>
                    <th>Owner Name:</th>

                    <td>
                        <a href="{% url 'person_detail' equipment.equipmentid.equipmentownerid.affiliation.all.0.affiliationid %}">
                            {{ equipment.equipmentid.equipmentownerid.personfirstname }}
                            {{ equipment.equipmentid.equipmentownerid.personlastname|default:" -- " }}
                        </a>
                    </td>
                </tr>

            </table>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-7 pull-left">
            <a class="btn btn-primary btn-block"
               href="{% url 'calibrations_by_equipment' equipment.equipmentid_id %}">View Calibration History</a>
        </div>
            </div>
        {% endfor %}

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>Reference Material</h3>
        </div>
        {% for calibrationactions in Calibration.calibrationaction.all %}
            {% for referencematerial in calibrationactions.calibrationstandard.all %}
                <div class="row side-by-side-item small-box-item">
                    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 side-table-details">
                        <table class="table">
                            <tr>
                                <th>Reference Material Medium:</th>
                                <td>{{ referencematerial.referencematerialid.referencematerialmediumcv_id|default:" -- " }}</td>
                                {# Detail Pages for later... #}
                            </tr>

                            <tr>
                                <th>Organization Name:</th>
                                <td>{{ referencematerial.referencematerialid.referencematerialorganizationid.organizationname|default:" -- " }}</td>
                            </tr>
                            <tr>
                                <th>Reference Material Code:</th>
                                <td>{{ referencematerial.referencematerialid.referencematerialcode|default:" -- " }}</td>
                            </tr>
                            <tr>
                                <th>Reference Material Lot Code:</th>
                                <td>{{ referencematerial.referencematerialid.referencemateriallotcode|default:" -- " }}</td>
                            </tr>
                            <tr>
                                <th>Purchase Date:</th>
                                <td>{{ referencematerial.referencematerialid.referencematerialpurchasedate|default:" -- " }}</td>
                            </tr>
                            <tr>
                                <th>Expiration Date:</th>
                                <td>{{ referencematerial.referencematerialid.referencematerialexpirationdate|default:" -- " }}</td>
                            </tr>
                            <tr>
                                <th>Certificate Link:</th>
                                <td>{% if referencematerial.referencematerialid.referencematerialcertificatelink %}
                                    <a href="{{ referencematerial.referencematerialid.referencematerialcertificatelink }}">
                                        {# check for correct link format #}
                                        {{ referencematerial.referencematerialid.referencematerialcertificatelink }}</a>
                                {% else %}
                                    --
                                {% endif %}
                                </td>
                                {% for materialvalue in referencematerial.referencematerialid.referencematerialvalue.all %}
                                    {% if materialvalue.variableid == calibrationactions.istrumentoutputvariableid.variableid %}
                                        <tr>
                                            <th>Value:</th>
                                            <td>{{ materialvalue.referencematerialvalue|default:" -- " }}</td>
                                        </tr>
                                        <tr>
                                            <th>Value Accuracy:</th>
                                            <td>{{ materialvalue.referencematerialaccuracy|default:" -- " }}</td>
                                        </tr>
                                        <tr>
                                            <th>Units:</th>
                                            <td>{{ materialvalue.unitsid.unitsname|default:" -- " }}</td>
                                        </tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                </div>
            {% endfor %}
            {% empty %}
                <table class="table">
                    <tr>
                        <td>No Reference Material information for this calibration.</td>
                    </tr>
                </table>
        {% endfor %}

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>Reference Equipment</h3>
        </div>

        {% for calibrationactions in Calibration.calibrationaction.all %}
            {% for referenceequipment in calibrationactions.calibrationreferenceequipment.all %}
                <div class="row side-by-side-item small-box-item">
                    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 side-table-details">
                        <table class="table">
                        <tr>
                            <th>Equipment Serial Number:</th>
                            <td><a href="{% url 'equipment_detail' referenceequipment.equipmentid.equipmentid %}">
                                {{ referenceequipment.equipmentid.equipmentserialnumber|default:" -- " }}</a></td>
                        </tr>

                        <tr>
                            <th>Equipment Code:</th>
                            <td>{{ referenceequipment.equipmentid.equipmentcode|default:" -- " }}</td>
                        </tr>
                        <tr>
                            <th>Equipment Name:</th>
                            <td>{{ referenceequipment.equipmentid.equipmentname|default:" -- " }}</td>
                        </tr>
                        <tr>
                            <th>Equipment Type:</th>
                            <td>{{ referenceequipment.equipmentid.equipmenttypecv_id|default:" -- " }}</td>
                        </tr>
                        <tr>
                            <th>Manufacturer Name:</th>
                            <td>{{ referenceequipment.equipmentid.equipmentmodelid.modelmanufacturerid.organizationname|default:" -- " }}</td>
                        </tr>
                        <tr>
                            <th>Equipment Model Name:</th>
                            <td>
                                <a href="{% url 'equipment_detail' referenceequipment.equipmentid.equipmentmodelid.equipmentmodelid %}">
                                    {{ referenceequipment.equipmentid.equipmentmodelid.modelname|default:" -- " }}</a>
                            </td>
                        </tr>
                        <tr>
                            <th>Owner Name:</th>
                            <td>
                                <a href="{% url 'person_detail' referenceequipment.equipmentid.equipmentownerid.affiliation.all.0.affiliationid %}">
                                    {{ referenceequipment.equipmentid.equipmentownerid.personfirstname }}
                                    {{ referenceequipment.equipmentid.equipmentownerid.personlastname|default:" -- " }}
                                </a>
                            </td>
                        </tr>
                        </table>
                    </div>
                </div>
            {% endfor %}
            {% empty %}
                <table class="table">
                    <tr>
                        <td>No Reference Equipment information for this calibration.</td>
                    </tr>
                </table>
        {% endfor %}

            </div>


    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGtObe6Ic1FeiDvC9Oxt3oWc-HWk8wuTk&sensor=false">
    </script>

    <script type="text/javascript" src="{% static "sensordatainterface/js/google_maps.js" %}"></script>
{% endblock %}