{% extends "base.html" %}
{% load static %}
{% load inv_extras %}
{% block content %}
    <div class="row title">
        <div class="col-xs-12 col-sm-4 col-md-4"><h2>Site Visit Details</h2></div>

        <div class="col-xs-12 col-sm-4 col-md-3 pull-right">
            <a class="btn btn-primary btn-block"
               href="{% url 'site_visits_by_site' SiteVisit.samplingfeatureid.samplingfeatureid %}">View Full Visit
                History for Site</a></div>
        <div class="col-xs-12 col-sm-4 col-md-3 pull-right">
            <a class="btn btn-primary btn-block" href="{% url 'edit_site_visit' SiteVisit.actionid.actionid %}">Edit Site Visit Description</a></div>
        <div class="col-xs-12 col-sm-8 col-md-2 pull-right">
            <a class="btn btn-danger btn-block" id="danger-button" data-href="{% url 'delete_site_visit' SiteVisit.actionid.actionid %}">Delete</a>
        </div>
    </div>
    <div class="row detail-mid">
        <div class="col-xs-12 col-sm-6 col-md-6 pull-right" id="map-canvas"></div>
        <div class="col-xs-12 col-sm-6 col-md-6 pull-right">
            <h3>Location</h3>
            <table class="table">
                <tr>
                    <th>Site Code:</th>
                    <td>
                        <a href="{% url 'site_detail' SiteVisit.samplingfeatureid.samplingfeatureid %}">
                            {{ SiteVisit.samplingfeatureid.samplingfeaturecode }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>Site Name:</th>
                    <td>{{ SiteVisit.samplingfeatureid.samplingfeaturename }}</td>
                </tr>
{#                <tr>#}
{#                    {% for site in SiteVisit.samplingfeatureid.sites.all %}#}
{#                        {% if forloop.first %}#}
{#                            <th>Latitude:</th>#}
{#                            <td>{{ site.latitude }}</td>#}
{#                            <tr/>#}
{#                            <tr>#}
{#                            <th>Longitude:</th>#}
{#                            <td>{{ site.longitude }}</td>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                    </tr>#}
{#                <tr>#}
{#                    <th>Elevation:</th>#}
{#                    <td>{{ SiteVisit.samplingfeatureid.elevation_m }}</td>#}
{#                </tr>#}
            </table>
            <h3>Description</h3>
            <table class="table">
                <tr>
                    <th>People:</th>
                    <td>{% for person in SiteVisit.actionid.actionby.all %}
                        {{ person.affiliationid.personid.personfirstname }}
                        {{ person.affiliationid.personid.personlastname }}
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}</td>
                </tr>
                <tr>
                    <th>Begin Date Time:</th>
                    <td>{{ SiteVisit.actionid.begindatetime }}</td>
                </tr>
                <tr>
                    <th>End Date Time:</th>
                    <td>{{ SiteVisit.actionid.enddatetime|default:"present" }}</td>
                </tr>
                <tr>
                    <th>UTC Offset:</th>
                    <td>{{ SiteVisit.actionid.begindatetimeutcoffset }}</td>
                </tr>
                <tr>
                    <th>Action Description:</th>
                    <td>{{ SiteVisit.actionid.actiondescription }}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9"><h3>Related Actions Table</h3></div>
    </div>
    <hr class="divider">

    <div class="row">
        <table class="data-table">
            <thead>
            <tr>
                <th>Action Type</th>
                <th>Begin Date Time</th>
                <th>End Date Time</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>

            {% for fieldactivity in SiteVisit.actionid.parent_relatedaction.all %}
                <tr>
                    <td>
                        <a href="{% url 'field_activity_detail' fieldactivity.actionid.actionid %}">
                            {{ fieldactivity.actionid.actiontypecv|separatewordsbycaps }}
                        </a></td>
                    <td>{{ fieldactivity.actionid.begindatetime }}</td>
                    <td>{{ fieldactivity.actionid.enddatetime|default:"present" }}</td>
                    <td>{{ fieldactivity.actionid.actiondescription }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-sm-4 col-xs-12 col-md-3 pull-right"><a class="btn btn-block btn-primary"
                                                               href="#">Add Another Action</a></div>
        <div class="col-sm-3 col-xs-12 col-md-3 pull-right"><a class="btn btn-primary btn-block"
                                                               href="#">Add New Deployment</a></div>
        <div class="col-sm-3 col-xs-12 col-md-3 pull-right"><a class="btn btn-primary btn-block"
                                                               href="#">Add New Calibration</a></div>
    </div>
    <nav>
    <ul class="pager">
        <li class="next col-sm-3 col-xs-6 col-md-2 pull-right"><a class="btn btn-block"
                                                               href="#">Next<span aria-hidden="true">&rarr;</span></a></li>
        <li class="previous col-sm-3 col-xs-6 col-md-2 pull-left"><a class="btn btn-block"
                                                              href="#"><span aria-hidden="true">&larr;</span> Previous</a></li>
        </ul>
    </nav>

    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGtObe6Ic1FeiDvC9Oxt3oWc-HWk8wuTk&sensor=false">
    </script>

    <script type="text/javascript" src="{% static "sensordatainterface/js/google_maps.js" %}"></script>
    <script type="text/javascript">
        {% with site=SiteVisit.samplingfeatureid.sites.all|first %}
            google.maps.event.addDomListener(window, 'load', initialize({{ site.latitude }}, {{ site.longitude }}));
        {% endwith %}
    </script>
{% endblock %}