
/* ---------------- General structure and layout ----------------------- */

body {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  background-color: #fafafa;
  background: url(../images/bg.png) repeat;
  letter-spacing: 0.05em;
}

html.busy, html.busy * {  
  cursor: wait !important;  
}

.required-asterisk {
  color: red;
  margin-right: 5px;
  margin-left: -2px;
}

.edit-icon, .delete-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.edit-icon {
  background-image: url(../images/edit.png);
}

.delete-icon {
  background-image: url(../images/delete.png);
}


#main {
  padding: 15px;
  width: 850px;
  margin: auto;
  margin-bottom: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;

}

a {
  color: #00A5E3;
}

input[type='submit'], input[type='button'], button {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  color: white;
  background-color: #51A1F0;
  border: none;
  padding: 3px 20px !important;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 15px;
  cursor: pointer;
  margin: 0px;
}

input[type='submit']:hover, input[type='button']:hover, button:hover {
  background-color: #2082E3;
}

input[type='submit']#edit-cancel {
  margin-left: 5px;
}

h3 {
  font-size: 125%;
  margin-bottom: 7px;
  text-decoration: underline;
}



#user_menu a.username {
  padding-right: 19px !important;
  background: url(../images/gear.png) no-repeat right;
  -moz-background-size: 16px;
  -o-background-size: 16px;
  -webkit-background-size: 16px;
  background-size: 16px;
}

#user_menu a.login-link {
  padding-right: 20px !important;
  background: url(../images/profile.png) no-repeat right;
  -moz-background-size: 16px;
  -o-background-size: 16px;
  -webkit-background-size: 16px;
  background-size: 16px;
}

.infoBox {
  width: 300px;
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 7px 7px 10px 13px;
  position: relative;
  border:1px solid #a6a6a6;
}

.infoBox:after, .infoBox:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.infoBox:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 15px;
  left: 50%;
  margin-left: -15px;
}
.infoBox:before {
  border-color: rgba(166, 166, 166, 0);
  border-bottom-color: #a5a5a5;
  border-width: 16px;
  left: 50%;
  margin-left: -16px;
}

.infoBox h4 {
  margin-bottom: 3px;
}

.siteBox {
  width: 130px;
}

.siteBox .thumbnail {
  width: 75px;
  margin-left: 33px;
  float: left;
}

.thumbnail {
  width: 65px;
  height: 65px;
  margin-right: 15px !important;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border:1px solid #a6a6a6;
}


.view-empty {
clear: both;
}

.view-field-wrapper .views-label {
  float: left;
  margin-top: 3px;
  font-weight: 700;
  font-size: 18px;
}

.view-field-wrapper {
  margin-top: 5px;
  padding-top: 15px;
  margin-bottom: 30px;
}

.view-field-wrapper .view-header {
  margin-bottom: 6px;
}

.views-widget, .form-type-textfield {
  display: inline;
}

.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0.1em;
}

.views-exposed-form .views-exposed-widget {
  padding-top: 0em !important;
}

.view-header {
  float: right;
  margin-top: 0 !important;
}

.view-footer {
  padding-top: 20px;
  clear: left;
}

.view-header > p > input {
  margin-left: 10px;
}

.view-footer > p > input {
  margin-right: 10px;
}

.views-field {
  line-height: 22px;
}

.view-content {
  clear: both;
}

.view-empty input {
  margin-top: 15px;
}

.views-field > .views-label {
  font-weight: bold;
}

#show_advanced {
  cursor: pointer;
  font-size: 15px;
  margin-top: ;
}

.collapsible-field {
  display: none;
}

#map-canvas {
  width: 100%;
  height: 300px;
  border: 1px solid rgb(190, 190, 190);
}

.site-image {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 20px;
}

.equipment-image {
  float: right;
  position: relative;
  margin-top: 5px;
}

.equipment-image img {
  width: 390px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.view-content span.views-field {
  float: left;
  width: 27%;
  padding: 1.5px 0;
  margin-left: 6%;
}

.views-row > .last-in-group {
  margin-bottom: 20px;
}

.submissions-link {
  display: none;
}

.visits-navigation {
  cursor: pointer;
  margin-top: 10px;
  color: black;
  border: 1px solid black;
  background: #EBEBEB;
  border-radius: 3px;
  width:70px;
  text-align: center;
}

#previous-visit {
  float: left;
}

#next-visit {
  float: right;
}

.inside-view {
  clear: both;
  padding-top: 15px;
}

.inside-view > .views-label {
  position: relative;
  float: left;
  margin-top: 3px;
}

.inside-view .view-header {
margin-bottom: 10px;
}


/* -------------------- Header Layout ------------------ */

header #logo {
  float: left;  
  margin-top: 9px;
  margin-left: 10px;
}

header #user_menu {
  position: relative;
  float: right;
  font-size: 12px;
  margin-top: -6px;
}

header #user_menu a {
  text-decoration: none;
  padding: 2px 6px;
}

header nav {
  height: 60px;
  clear:right;
  padding-top: 20px;
  margin-left: 30%;
}

nav ul {
  display: block;
  position: relative;
}


nav #floating-submenu {
  display: none;
  visibility: hidden;
  list-style: none;
  position: relative;
  float: right;
  right: 23px;
  width: 520px;
  height: 37px;
  padding: 10px 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px #d1d1d1;
  background-color: #e8e8e8;
  -webkit-text-shadow: 0 1px 0 rgba(255,255,255,.8);
  -moz-text-shadow: 0 1px 0 rgba(255,255,255,.8);
  text-shadow: 0 1px 0 rgba(255,255,255,.8);
  background-image: linear-gradient(bottom,#e8e8e8 0,#fbfbfb 100%);
  background-image: -o-linear-gradient(bottom,#e8e8e8 0,#fbfbfb 100%);
  background-image: -moz-linear-gradient(bottom,#e8e8e8 0,#fbfbfb 100%);
  background-image: -webkit-linear-gradient(bottom,#e8e8e8 0,#fbfbfb 100%);
  background-image: -ms-linear-gradient(bottom,#e8e8e8 0,#fbfbfb 100%);
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#e8e8e8),color-stop(1,#fbfbfb));
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.2),inset 0 0 1px 0 rgba(255,255,255,.7);
  -moz-box-shadow: 0 2px 2px rgba(0,0,0,.2),inset 0 0 1px 0 rgba(255,255,255,.7);
  box-shadow: 0 2px 2px rgba(0,0,0,.2),inset 0 0 1px 0 rgba(255,255,255,.7);
}

nav .hover {
  color: #00A5E3;
}

nav .hover:before, nav .hover:after {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

nav .hover:after {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #fbfbfb;
  border-width: 8px;
  left: 90px;
  bottom: 0%;
  margin-left: -8px;
}

nav .hover:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #a9a9a9;
  border-width: 9px;
  left: 90px; 
  bottom: 0%;
  margin-left: -9px;
}

nav #floating-submenu li {
  padding-top:1px;
  float:left;
  display: inline;
  padding-left: 3px;
  margin-right: 15px;
}

nav #floating-submenu li a {
  white-space:nowrap;
  font-size: 17px;
}

nav #floating-submenu li a:hover {
  color: #0092c8;
}

nav ul li {
  display: block;
  list-style: none;
  float: left;
  position: relative;
  padding-left: 42px;
  font-size: 21px;
  padding-bottom: 12px;
}

nav ul li a:hover {
  color: #00A5E3;
}

nav ul li a {
  text-decoration: none;
  color: black;
  padding-bottom: 25px;
}

nav ul li span.link_description {
  font-size: 12px;
  display: block;
  margin-top: 1px;
  padding-left: 1px;
}

/* --------------------- Content Layout -------------------------*/

div.view-filters{
  clear:both;
  font-weight:normal;
  margin:4px;
}

div.view-filters input{
  width: 50%;
  margin-left: 10px;
}
#site_content {
  min-height: 500px;
  margin: 40px 15px;
}

#site_content h1 {
  display: inline-block;
  padding-left: 5px;
  padding-right: 10px;
  font-weight: normal;
  font-size: 24px;
}

#site_content .region-content {
  padding: 10px;
}

#site_content #page_description {
  font-size: 12px;
  position: relative;
  float: right;
}

#site_content #content_body {
  margin-top: 10px;
  background-color: #f9f9f9;
  padding: 5px;
}

#content {
  height: inherit;
}

label 
{
    display:inline !important;
}

/* ---------------------- Table Styles ------------------------------*/

table .headerSortUp:not(.views-field-nothing) {
  background-image: url('../images/desc.gif');
}
table .headerSortDown:not(.views-field-nothing) {
  background-image: url('../images/asc.gif');
}
thead tr th:not(.views-field-nothing){
  background-image: url('../images/nosort.gif');
}

table.ui-datepicker-calendar tr th{
  background-image:none;
}

thead tr th{
  background-repeat: no-repeat;
  background-position: center right 3px;
  vertical-align: middle;
  background-position-x: 97%;
  background-position-y: 50%;
}


table {
  font-size: 0.857em;
  width: 100%;
}

.table-container {
  overflow-y: auto;
  max-height: 420px;
  height: 100%;
}

.fht-thead table {
  margin: 0px;
}

.fht-tbody .table-container {
overflow-y: scroll;
}

tr td, tr th {
  padding: 4px 15px 4px 9px;
  border: 1px solid black;
  text-align: left; /* LTR */
}

tr td a{
  text-decoration: none;
}

tr td a:hover{
  text-decoration: underline;
}


tr th{
  vertical-align: middle;
}

table tr th,
table tr th a,
table tr th a:hover {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
  background-color: white;
}


tr:nth-child(even) {background: white}
tr:nth-child(odd) {background: rgb(241, 241, 241)}

tr td.active{
  background-color: white !important; 
}


/*----------------Sticky Headers ---------------------*/
.outer{
  position:relative;
}

.table-container{
  overflow-y:auto;
  padding-right: 1px;
}

.outer thead{
  position:absolute;
  cursor:pointer ;
  width:100%;
}


/* ----------------------- Footer Layout ---------------------------- */
footer {
  padding: 5px 15px;
}

footer span {
  font-size: 11px;
  display: block;
  text-align: center;
  line-height: 13px;
}

/* --------------------- Form Layout -------------------------*/

div.field-type-datetime:not(.field-name-field-date){
  max-height: 40px;
}


div.field-type-datetime legend{
  margin-top: 14px !important;
}


div.form-type-select div.description{
  visibility: visible;
  display:block;
  margin-left: 210px;
  margin-top: 5px;
  font-size: 13px;
}
div.form-item input{
  margin-left: 0px;
}


#field-purchase-date-add-more-wrapper, div.field-type-datetime label{
  display:none !important;
}
div.field-type-text, div.field-type-number-float, div.field-type-email, div.field-type-link-field{
  margin-bottom: 20px;
  margin-left: 3px;
}


.form-item input.text-full, div.field-type-email input, div.field-type-link-field input {
  width: 493px;
}

div.form-textarea-wrapper {
  display: inline-block;
}

.form-item label {
  float:left;
  width:25%;
  margin-right:0.5em;
  padding-top:0.2em;
  text-align:right;
  font-weight:bold !important;
}

div.chzn-container-single, div.chzn-container-multi, div.chzn-container-single span{
  width:500px !important;
  color:black !important;
}

fieldset.form-wrapper legend {
  text-align: right;
  float: left;
  width: 25%;
  font-weight: bold;
}

fieldset.collapsible legend {
  float:right;
  margin-right:50px;
  text-align:left;
}

div.container-inline-date {
  display:inline;
}

div.message {
  display:none;
}

a.active{
  background-color: transparent;
}

fieldset.collapsible .container-inline-date{
  margin-left: 198px;
}

/* ------------------ Vocabularies Tabs ---------------------*/
ul.ui-tabs-nav {
  line-height: 30px;
  font-size: 15px;
  height:100%;
}

ul.ui-tabs-nav li {
  text-align: center;
  border: 1px solid #AAA;
  background: #D1D1D1;
  background: -o-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
  background: -ms-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
  background: -moz-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
  background: -webkit-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
  background: linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
  display: inline-block;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  text-shadow: 0 1px #FFF;
  width:110px;
}

ul.ui-tabs-nav .ui-tabs-active{
  background: #D1D1D1;
  text-shadow: none;
}

ul.ui-tabs-nav li:not(.ui-tabs-active):hover{
  background: #E1E1E1;
}

ul.ui-tabs-nav a {
  color: black;
  text-decoration: none;
  display:block;
  width:100%;
}

.tabs-content {
  clear: both;
}

div.views-exposed-widgets{
  clear:left;
}

/* ----- Styles for Retrieval Form ---------*/
.entitytype-create_new_retrieval-form .form-item-field-begin-date-und-0-value-date{
  display:none;
}
.entitytype-create_new_retrieval-form .form-item-field-end-date-und-0-value-date{
  display:none;
}