{% extends "base.html" %}
{% load static %}
{# Template form only for simple forms #}
{% block content %}
    <div class="row title">
        <h1 class="col-xs-12 col-sm-12 col-md-12">{{ action|capfirst }}
        {% block item_name %}{% endblock %}
        </h1>
    </div>
    <div class="row">
        <form enctype="multipart/form-data" class="input-group col-xs-12 col-md-12 col-lg-12 col-sm-12 {% block form_class %}{% endblock %}" action="{% block submit_url %}{% endblock %}"
              method="post">
            {% csrf_token %}
            <input type="hidden" value="{{ action }}" name="action">
            <input type="hidden" value="{{ item_id }}" name="item_id">
            {% block hidden_data %}

            {% endblock %}
            <table class="table form-table form-group">
                {% for render_form in render_forms %}
                    {{ render_form.as_table }}
                {% endfor %}
                     <tbody class="action-fields">
                     {{ actions_form.as_table }}
                     </tbody>
                    {% if actions_form.results|length != 0 %}
                            {% for curr_result in actions_form.results %}
                                <tbody class="results-set">
                                    {% if forloop.first %}
                                        <tr class="results-row"><td colspan="2" class="results-label"><label>Results</label></td></tr>
                                    {% else %}
                                        <tr><th></th><td><a class="btn btn-remove-result btn-danger col-xs-2 col-sm-2" onclick="javascript:removeResultForm(this)">- Remove Result</a></td></tr>
                                    {% endif %}
                                    {{ curr_result.as_table }}
                                </tbody>
                            {% endfor %}
                    {% endif %}

                <tbody>
                    <tr>
                        <th></th>
                        <td>
                            <div class="row">
                                <a class="btn btn-default col-xs-12 col-sm-12"
                                        {% if item_id or equipment_id%}
                                   href="{% block detail_cancel_url %}{% endblock %}"
                                        {% else %}
                                   href="{% block list_cancel_url %}{% endblock %}"
                                        {% endif %}>
                                    Cancel
                                </a>
                                <input class="btn btn-primary col-xs-12 col-sm-12" type="submit"
                                       value="{{ action|capfirst }} {% block button_value %}{% endblock %}">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    {% block mock_forms %}
        <table id="action-form">
            <tbody class="action-fields">
                {{ mock_action_form }}
            </tbody>
        </table>
        <table id="results-form">
            <tbody class="results-set">
                {{ mock_results_form }}
            </tbody>
        </table>
        <table id="annotation-form">
            <tbody class="annotation-fields">
                {{ annotation_field }}
                {{ mock_annotation_form }}
            </tbody>
        </table>
    {% endblock %}
{% endblock %}

{% block scripts %}
    <script src="{% static  "sensordatainterface/js/common_forms.js" %}"></script>
{% endblock %}