{% extends "base.html" %}
{% load static %}
{% block content %}

    <!-- Waterfall picture used for banner -->
    <div>
       <img class="banner" src="{% static "sensordatainterface/img/waterfallBanner.jpg" %}" height="250">
    </div>

    <div class="home_title"><h1 align="center"><font size="150%">ODM2 Equipment Management</font></h1></div>

    <div class="quick_links">

        <div class="quick_links_table">
            <div><h4>Create a new...</h4></div>

            <div><a class="btn" alt="Create a new Site Visit." title="Create Site Visit Form" href="{% url 'create_site_visit' %}">Site Visit</a></div>

            <div><a class="btn" alt="Create a new Calibration." title="Create Calibration Form" href="{% url 'create_action' 'InstrumentCalibration' %}">Calibration</a></div>

            <div><a class="btn" alt="Create a new Deployment." title="Create Deployment Form" href="{% url 'create_action' 'EquipmentDeployment' %}">Deployment</a></div>

            <div><a class="btn" alt="Retrieve a deployed equipment." title="Create Retrieval Action" href="{% url 'create_retrieval' %}">Retrieval</a></div>

            <div><a class="btn" alt="Create a new Generic Action." title="Create Generic Action Form" href="{% url 'create_action' 'Generic' %}">Generic Action</a></div>

            <div><a class="btn" alt="Create a new Equipment." title="Create Equipment Form" href="{% url 'create_equipment' %}">Equipment</a></div>
        </div>
    </div>

    <div class="home_page">
        <div>
            <h3>Description</h3>
        </div>

        <div>
            <p>
                This equipment management web application provides access to and recording of information
                on equipment inventory and related actions. It is based on the Equipment Extension of Version 2 of the
                <a href="http://github.com/odm2/odm2" data-toggle="tooltip" title="github.com/odm2/odm2">Observations Data Model (ODM2).</a>
                This interface is designed for monitoring networks using in situ sensors to manage physical infrastructure and link it to observational data.
            </p>
        </div>

        <div><h3>Sponsors</h3></div>

        <div><p>This project is receiving or has received support from a number of agencies and complementary efforts including:</p></div>

        <div class="sponsors">
            <a href="http://www.iutahepscor.org">
                <img alt="iUTAH website" data-toggle="tooltip" title="iutahepscor.org" src="{% static "sensordatainterface/img/iutah_home_logo.png" %}" height="150" vspace="50" hspace="50"></a>
            <a href="http://www.nsf.gov">
                <img alt = "National Science Foundation website" data-toggle="tooltip" title="nsf.gov" src="{% static "sensordatainterface/img/nsf_logo.jpg" %}" height="150" hspace="50"></a>
        </div>
    </div>

{% endblock %}
