{% extends "base.html" %}
{% load static %}
{% load inv_extras %}
{% block content %}
    <div class="row title">
        <div class="col-xs-12 col-sm-6 col-md-7"><h2>Equipment Details</h2></div>
        <div class="col-xs-12 col-sm-6 col-md-3 pull-right">
            <a class="btn btn-primary btn-block"
               href="{% url 'create_equipment' Equipment.equipmentid %}">Edit Equipment Description</a></div>
        <div class="col-xs-12 col-sm-6 col-md-2 pull-right">
            <a class="btn btn-danger btn-block" id="danger-button"
               data-href="{% url 'delete_equipment' Equipment.equipmentid %}">Delete</a>
        </div>
    </div>
    <div class="row detail-mid">
        <div class="col-xs-12 col-sm-6 col-md-6 pull-right"></div>
        <div class="col-xs-12 col-sm-6 col-md-6 pull-right">
            <h3>Equipment Description</h3>
            <table class="table">
                <tr>
                    <th>Equipment Serial Number:</th>
                    <td>{{ Equipment.equipmentserialnumber }}</td>
                </tr>
                <tr>
                    <th>Equipment Type:</th>
                    <td>{{ Equipment.equipmenttypecv }}</td>
                </tr>
                <tr>
                    <th>Equipment Code:</th>
                    <td>{{ Equipment.equipmentcode }}</td>
                </tr>
                <tr>
                    <th>Equipment Name:</th>
                    <td>{{ Equipment.equipmentname }}</td>
                </tr>
                <tr>
                    <th>Equipment Description:</th>
                    <td>{{ Equipment.equipmentdescription|default:" -- " }}</td>
                </tr>
                <tr>
                    <th>Equipment Link:</th>
                    <td>{% if Equipment.equipmentmodelid.modellink %}
                        <a href="{{ Equipment.equipmentmodelid.modellink }}">
                            {{ Equipment.equipmentmodelid.modellink }}</a>
                    {% else %}
                        --
                    {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Model Name:</th>
                    <td>
                        <a href="{% url 'models_detail' Equipment.equipmentmodelid.equipmentmodelid %}">{{ Equipment.equipmentmodelid.modelname }}</a>
                    </td>
                </tr>
                <tr>
                    <th>Model Description:</th>
                    <td>{{ Equipment.equipmentmodelid.modeldescription }}</td>
                </tr>
                <tr>
                    <th>Purchase Date:</th>
                    <td>{{ Equipment.equipmentpurchasedate }}</td>
                </tr>
                <tr>
                    <th>Purchase Order Number:</th>
                    <td>{{ Equipment.equipmentpurchaseordernumber }}</td>
                </tr>
                <tr>
                    <th>Documentation Link:</th>
                    {# a file? #}
                    <td>{% if Equipment.equipmentdocumentationlink %}
                        <a href="{{ Equipment.equipmentdocumentationlink }}">
                            {{ Equipment.equipmentdocumentationlink }}</a>
                    {% else %}
                        --
                    {% endif %}
                    </td>
                </tr>

            </table>
            <h3>Owner</h3>
            <table class="table">
                <tr>
                    <th>Name:</th>
                    <td>{{ Equipment.equipmentownerid.personfirstname }} {{ Equipment.equipmentownerid.personlastname }}</td>
                </tr>
            {# start deleting from here in case this is not needed#}
                {% for affiliation in Equipment.equipmentownerid.affiliation.all %}
                    {% if forloop.first %}
                        <tr>
                            <th>Institution:</th>
                            <td>{{ affiliation.organizationid.organizationname }}</td>
                        </tr>
                        <tr>
                            <th>Address:</th>
                            <td>{{ affiliation.primaryaddress }}</td>
                        </tr>
                        <tr>
                            <th>Phone:</th>
                            <td>{{ affiliation.primaryphone }}</td>
                        </tr>
                        <tr>
                            <th>Email:</th>
                            <td><a href="mailto:{{ affiliation.primaryemail }}"> {{ affiliation.primaryemail }}</a></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {# end delete #}
            </table>
            <h3>Manufacturer</h3>

            <table class="table">
                <tr>
                    <th>Name:</th>
                    <td>
                        <a href="{% url 'vendor_detail' Equipment.equipmentmodelid.modelmanufacturerid.organizationid %}">
                            {{ Equipment.equipmentmodelid.modelmanufacturerid.organizationname|default:" -- " }}
                        </a>
                    </td>
                </tr>
            {# start deleting from here in case this is not needed#}
                {% for person in Equipment.equipmentmodelid.modelmanufacturerid.affiliation.all %}

                    {% if person.isprimaryorganizationcontact == 1 %}
                        <tr>
                            <th>Contact Name:</th>
                            <td>{{ person.personid.personfirstname }} {{ person.personid.personlastname }}</td>
                        </tr>
                        <tr>
                            <th>Address:</th>
                            <td>{{ person.primaryaddress }}</td>
                        </tr>
                        <tr>
                            <th>Email:</th>
                            <td>{% if person.primaryemail != 'unknown' %}
                                <a href="mailto:{{ person.primaryemail }}">
                                    {{ person.primaryemail }}
                                </a>
                            {% else %}
                                {{ person.primaryemail|default:" - " }}
                            {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Phone:</th>
                            <td>{{ person.primaryphone }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {# end delete #}
                <tr>
                    <th>Website:</th>
                    <td>
                        <a target="_blank"
                           href="{% if "http" not in Equipment.equipmentmodelid.modelmanufacturerid.organizationlink %}
                        http://{% endif %}{{ Equipment.equipmentmodelid.modelmanufacturerid.organizationlink }}/">
                            {{ Equipment.equipmentmodelid.modelmanufacturerid.organizationlink|default:" -- " }}</a>
                    </td>
                </tr>
            </table>
                <h3>Vendor</h3>
            <table class="table">
                <tr>
                    <th>Name:</th>
                    <td>
                        <a href="{% url 'vendor_detail' Equipment.equipmentvendorid.organizationid %}">
                            {{ Equipment.equipmentvendorid.organizationname|default:" -- " }}
                        </a>
                    </td>
                </tr>
            {# start deleting from here in case this is not needed#}
                {% for person in Equipment.equipmentvendorid.affiliation.all %}
                    {% if person.isprimaryorganizationcontact %}
                        <tr>
                            <th>Contact Name:</th>
                            <td>{{ person.personid.personfirstname }} {{ person.personid.personlastname }}</td>
                        </tr>
                        <tr>
                            <th>Address:</th>
                            <td>{{ person.primaryaddress }}</td>
                        </tr>
                        <tr>
                            <th>Email:</th>
                            <td>{% if person.primaryemail != 'unknown' %}
                                <a href="mailto:{{ person.primaryemail }}">
                                    {{ person.primaryemail }}
                                </a>
                            {% else %}
                                {{ person.primaryemail|default:" - " }}
                            {% endif %}</td>
                        </tr>
                        <tr>
                            <th>Phone:</th>
                            <td>{{ person.primaryphone }} </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {# end delete #}
                <tr>
                    <th>Website:</th>
                    <td>
                        <a target="_blank" href="{% if "http:" not in Equipment.equipmentvendorid.organizationlink %}
                        http://{% endif %}{{ Equipment.equipmentvendorid.organizationlink }}/">
                            {{ Equipment.equipmentvendorid.organizationlink|default:" -- " }}</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-xs-12 col-md-2 pull-right"><a class="btn btn-primary btn-block"
                                                               href="{% url 'calibrations_by_equipment' Equipment.equipmentid %}">Calibration
            History</a></div>
        <div class="col-sm-4 col-xs-12 col-md-3 pull-right"><a class="btn btn-primary btn-block"
                                                               href="


                                                                       {# View is made for this, see:  FactoryServiceByEquipment #}">Factory
            Service History</a></div>
        <div class="col-sm-3 col-xs-12 col-md-2 pull-right"><a class="btn btn-primary btn-block"
                                                               href="{% url 'deployments_by_equipment' Equipment.equipmentid %}">Deployment
            History</a></div>
    </div>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGtObe6Ic1FeiDvC9Oxt3oWc-HWk8wuTk&sensor=false">
    </script>

    <script type="text/javascript" src="{% static "sensordatainterface/js/google_maps.js" %}"></script>
{% endblock %}