{% extends "base-form.html" %}
{% block button_value %}{% block item_name %}Equipment{% endblock %}{% endblock %}
{% block submit_url %}{% url 'create_equipment' %}{% endblock %}
{% block detail_cancel_url %}{% url 'equipment_detail' equipment_id %}{% endblock %}
{% block list_cancel_url %}{% url 'equipment' %}{% endblock %}

{% block content %}
    {{ block.super }}

    <table id="model-form">
        <tbody class="model-fields">
            {{ mock_model_form }}
        </tbody>
    </table>
{% endblock %}