{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="col-xs-12 col-sm-6 col-md-7">
        <h1>Equipment</h1>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 pull-right">
        <a class="btn btn-primary btn-block new-btn" href="{% url 'create_equipment' %}">New Equipment</a>
    </div>
    <table class="data-table">
        <thead>
        <tr>
            <th>Equipment Serial Number</th>
            <th>Equipment Type</th>
            <th>Equipment Code</th>
            <th>Equipment Model</th>
            <th>Manufacturer Name</th>
            <th>Owner</th>
        </tr>
        </thead>
        <tbody>
        {% for equipment in Inventory %}
            <tr>
                <td><a href="{% url 'equipment_detail' equipment.equipmentid %}">{{ equipment.equipmentserialnumber }}</a></td>
                <td>{{ equipment.equipmenttypecv }}</td>
                <td>{{ equipment.equipmentcode }}</td>
                <td>{{ equipment.equipmentmodelid.modelname }}</td>
                <td>{{ equipment.equipmentmodelid.modelmanufacturerid.organizationname }}</td>
                <td>{{ equipment.equipmentownerid.personfirstname }} {{ equipment.equipmentownerid.personlastname }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}