<div class="row title">
    <div class="col-xs-12 col-sm-6 col-md-7">
        <h1>Equipment Models</h1>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 pull-right">
        <a class="btn btn-primary btn-block new-btn" href="{% url 'create_model' %}">New Equipment Model</a>
    </div>
</div>
<table class="data-table">
    <thead>
    <tr>
        <th>Equipment Model Name</th>
        <th>Equipment Part Number</th>
        <th>Manufacturer Name</th>
        <th>Equipment Model Description</th>
    </tr>
    </thead>
    <tbody>
    {% for model in Models %}
        <tr>
            <td><a href="{% url 'models_detail' model.equipmentmodelid %}">{{ model.modelname }}</a></td>
            <td>{{ model.modelpartnumber }}</td>
            <td>{{ model.modelmanufacturerid.organizationname }}</td>
            <td>{{ model.modeldescription }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>