{% extends "base.html" %}
{% load static %}
{% load template_tags %}
{% block content %}
    <div class="row title">
        <div class="col-xs-12 col-sm-6 col-md-7"><h2>Equipment Model Details</h2></div>
        <div class="col-xs-12 col-sm-6 col-md-2 pull-right">
            <a class="btn btn-danger btn-block" id="danger-button"
               data-href="{% url 'delete_model' Model.equipmentmodelid %}">Delete</a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 pull-right">
            <a class="btn btn-primary btn-block" href="{% url 'create_model' Model.equipmentmodelid %}">Edit Model
                Description</a></div>
    </div>
    <div class="row detail-mid">
        <div class="col-xs-12 col-sm-6 col-md-6 pull-right"></div>
        <div class="col-xs-12 col-sm-6 col-md-6 pull-right">
            <table class="table">
                <tr>
                    <th>Model Name:</th>
                    <td>{{ Model.modelname }}</td>
                </tr>
                <tr>
                    <th>Model Part Number:</th>
                    <td>{{ Model.modelpartnumber|default:" -- " }}</td>
                </tr>
                <tr>
                    <th>Manufacturer Name:</th>
                    <td><a href="{% url 'organization_detail' Model.modelmanufacturerid.organizationid %}">
                        {{ Model.modelmanufacturerid.organizationname }}</a>
                    </td>
                </tr>
                <tr>
                    <th>Manufacturer Website:</th>
                    <td><a target="_blank" href="{{ Model.modelmanufacturerid.organizationlink }}">
                        {{ Model.modelmanufacturerid.organizationlink }}</a>
                    </td>
                </tr>
                <tr>
                    <th>Model Description:</th>
                    <td>{{ Model.modeldescription }}</td>
                </tr>
                <tr>
                    <th>Is Instrument:</th>
                    <td>
                        {% if Model.isinstrument %}
                            Yes
                        {% else %}
                            No
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Model SepcificationsFile Link:</th>
                    <td>{{ Model.modelspecificationsfilelink|default:" -- " }}</td>
                </tr>
                <tr>
                    <th>Model Link:</th>
                    <td>{{ Model.modellink|default:" -- " }} {# This should be a file!!!#}</td>
                </tr>
            </table>
        </div>
    </div>

    {% block equipments %}
        <div class="row">
            <div class="col-md-9"><h3>Equipments for this model</h3></div>
        </div>
        <hr class="divider">

        <div class="row">
            <table class="data-table">
                <thead>
                <tr>
                    <th>Serial Number</th>
                    <th>Type</th>
                    <th>Manufacturer</th>
                    <th>Owner</th>
                </tr>
                </thead>
                <tbody>
                {% for equipment in Model.equipment.all %}
                    <tr>
                        <td>
                            <a href="{% url 'equipment_detail' equipment.equipmentid %}">
                                {{ equipment.equipmentserialnumber }}
                            </a></td>
                        <td>{{ equipment.equipmenttypecv }}</td>

                        <td>
                            <a href="{% url 'organization_detail' equipment.equipmentmodelid.modelmanufacturerid.organizationid %}">
                                {{ equipment.equipmentmodelid.modelmanufacturerid.organizationname|default:" -- " }}
                            </a>
                        </td>
                        <td>{{ equipment.equipmentownerid.personfirstname }} {{ equipment.equipmentownerid.personlastname }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endblock %}

    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGtObe6Ic1FeiDvC9Oxt3oWc-HWk8wuTk&sensor=false">
    </script>

    <script type="text/javascript" src="{% static "sensordatainterface/js/google_maps.js" %}"></script>
{% endblock %}