{% extends "base.html" %}
{% load static %}
{% load inv_extras %}
{% block content %}
    <div class="col-xs-12 col-sm-6 col-md-7">
        <h1>Field Activities</h1>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 pull-right">
        <button class="btn btn-primary btn-block new-btn">New Field Activity</button>
    </div>
    <table id="data-table">
        <thead>
        <tr>
            <th>Begin DateTime</th>
            <th>End DateTime</th>
            <th>Site Visit</th>
            <th>Type</th>
            <th>Description</th>
        </tr>
        </thead>
       <tbody>
        {% for activity in FieldActivities %}
            {% for samplingfeature in activity.featureaction.all %}
            <tr>
                <td><a href="{% url 'field_activity_detail' activity.actionid %}">{{ activity.begindatetime }}</a></td>
                <td>{{ activity.enddatetime }}</td>
                <td>{{ samplingfeature.samplingfeatureid.samplingfeaturename }}, {{ activity.begindatetime }}</td>
                <td>{{ activity.actiontypecv|separatewordsbycaps }}</td>
                <td style="max-width: 500px">{% if activity.actiondescription != None %}
                    {{ activity.actiondescription }}
                {% endif %}</td>
            </tr>
                {% endfor %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}