{% extends "base.html" %}
{% load static %}
{% load inv_extras %}
{% block content %}
    <div class="row title">
        <div class="col-xs-12 col-sm-6 col-md-7"><h1>Field Activity Details</h1></div>
        <div class="col-xs-12 col-sm-6 col-md-3 pull-right">
            <a class="btn btn-primary btn-block" href="#">Edit Field Activities Description</a></div>
        <div class="col-xs-12 col-sm-6 col-md-2 pull-right">
            <a class="btn btn-danger btn-block" id="danger-button" href="#">Delete</a>
        </div>
    </div>
    <div class="row detail-mid">
        <div class="col-xs-12 col-sm-6 col-md-6 pull-right"></div>
        <div class="col-xs-12 col-sm-6 col-md-6 pull-right">
            <h3>Activity Description</h3>
            <table class="table">
                <tr>
                    <th>Activity Type:</th>
                    <td>
                        {{ Activity.actionid.methodid.methodcode|separatewordsbycaps }}
                    </td>
                </tr>
                <tr>
                    <th>Activity Begin DateTime:</th>
                    <td>{{ Activity.actionid.begindatetime }}</td>
                </tr>
                <tr>
                    <th>Activity End DateTime:</th>
                    <td>{{ Activity.actionid.enddatetime }}</td>
                </tr>
                <tr>
                    <th>UTC Offset:</th>
                    <td>{{ Activity.actionid.begindatetimeutcoffset }}</td>
                </tr>
                <tr>
                    <th>Crew:</th>
                    <td>
                        {% for person in Activity.actionid.actionby.all %}
                            {{ person.affiliationid.personid.personfirstname }}
                            {{ person.affiliationid.personid.personlastname }}
                            {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>Description:</th>
                    <td>
                        {{ Activity.actionid.actiondescription }}
                    </td>
                </tr>
            </table>
            <h3>Site Description</h3>
            <table class="table">
                <tr>
                    <th>Site Code:</th>
                    <td>{{ Activity.samplingfeatureid.samplingfeaturecode }}</td>
                </tr>
                <tr>
                    <th>Site Name:</th>
                    <td><a href="{% url 'site_detail' Activity.samplingfeatureid.samplingfeatureid %}">
                        {{ Activity.samplingfeatureid.samplingfeaturename }}
                    </a></td>
                </tr>
                <tr>
                    <th>Site Type:</th>
                    <td>{{ Activity.samplingfeatureid.samplingfeaturetypecv }}</td>
                </tr>
                <tr>
                    <th>Site Group:</th>
                    <td>{% if Activity.samplingfeatureid.samplingfeaturecode|slice:"2" == "LR" %}
                        Logan River
                    {% elif Activity.samplingfeatureid.samplingfeaturecode|slice:"2" == "RB" %}
                        Red Butte Creek
                    {% elif Activity.samplingfeatureid.samplingfeaturecode|slice:"2" == "PR" %}
                        Provo River
                    {% endif %}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-xs-12 col-md-2 pull-right"><a class="btn btn-primary btn-block"
                {% for related in Activity.actionid.relatedaction.all %}
                    {% if related.relationshiptypecv == 'is_child_of' %}
                            href="{% url 'site_visit_detail' related.relatedactionid.actionid %}"
                    {% endif %}
               {% endfor %}">Go to Site Visit</a></div>
    </div>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGtObe6Ic1FeiDvC9Oxt3oWc-HWk8wuTk&sensor=false">
    </script>

    <script type="text/javascript" src="{% static "sensordatainterface/js/google_maps.js" %}"></script>
{% endblock %}