{% extends "base-form.html" %}
{% load static %}

{# Template form only for simple forms #}
{% block content %}
    <div class="row title"><h1 class="col-xs-12 col-sm-12 col-md-12">{{ action|capfirst }}
        Site Visit</h1></div>
    <div class="row">
        <form enctype="multipart/form-data" class="input-group col-xs-12 col-md-12 col-lg-12 col-sm-12 SiteVisit"
              action="{% block submit_url %}{% endblock %}"
              method="post">
            {% csrf_token %}
            <input type="hidden" value="{{ action }}" name="action">
            <input type="hidden" value="{{ item_id }}" name="item_id">
            <table class="table form-table form-group">
                <tbody class="visit-fields">
                {% for render_form in render_forms %}
                    {{ render_form.as_table }}
                {% endfor %}
                </tbody>

            {% for curr_annotation in annotation_forms %}

                <tbody class="annotation-fields">
                    <tr class="remove-button"><th></th><td><a class="btn btn-remove-annotation btn-danger col-xs-2 col-sm-2" onclick="javasctipy:removeAnnotation(this)">- Remove Annotation</a></td></tr>
                    {{ curr_annotation.as_table }}
            {% endfor %}

                {% if render_actions %}
                    {{ action_forms.management_form }}
                    {% for actionform in action_forms %}
                        <tbody class="action-fields">
                        <tr>
                            <th></th>
                            <td><a class="btn btn-remove-action btn-danger col-xs-2 col-sm-2" onclick="javascript:deleteActionForm(this)">- Remove Action</a></td></tr>'
                        </tr>
                        {{ actionform }}
                        {{ actionform.nested.management_form }}
                        </tbody>
                        {% if actionform.nested %}
                            {% for nested_form in actionform.nested.forms %}
                                <tbody class="results-set" >
                                    {% if forloop.first %}
                                        <tr class="results-row"><td colspan="2" class="results-label"><label>Results</label></td></tr>
                                    {% else %}
                                        <tr><th></th><td><a class="btn btn-remove-result btn-danger col-xs-2 col-sm-2" onclick="javascript:removeResultForm(this, {{ actionform.actionid.value }})">- Remove Result</a></td></tr>
                                    {% endif %}
                                {{ nested_form }}
                                </tbody>
                            {% endfor %}

                            <tbody class='add-result-btn'><tr><td></td><td><a class='add-result-btn btn btn-default col-xs-12 col-sm-12' onclick='javascript:addResultForm(this, null, {{ actionform.actionid.value }})'>+ Add Result</a></td></tr></tbody>
                        {% endif %}

                    {% endfor %}
                    <tbody>
                {% endif %}
                <tr>
                    <th></th>
                    <td>
                        <div class="row action_buttons">
                            <a class='btn btn-default col-xs-12 col-sm-12'
                               id='add_action'>+ Add Action</a>
                            <a class='btn btn-default col-xs-12 col-sm-12'
                               onclick='javascript:addAnnotationForm(this)'>+ Add Annotation</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td>
                        <div class="row">
                            <a class="btn btn-default col-xs-12 col-sm-12"
                                    {% if item_id %}
                               href="{% block detail_cancel_url %}{%  url 'site_visit_detail' item_id %}{% endblock %}"
                                    {%  elif site_id %}
                               href="{% block site_cancel_url %}{%  url 'site_visits_by_site' site_id %}{% endblock %}"
                                    {% else %}
                               href="{% block list_cancel_url %}{% url 'site_visits' %}{% endblock %}"
                                    {% endif %}>
                                Cancel
                            </a>
                            <input class="btn btn-primary col-xs-12 col-sm-12" type="submit"
                                   value="{{ action|capfirst }} {% block button_value %}{% endblock %}">
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div id="empty_form" style="display:none">
        <tbody class='action-fields'>
            {{ action_forms.empty_form.as_table }}
        </tbody>
</div>

    {% block mock_forms %}{{ block.super }}{% endblock %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static  "sensordatainterface/js/site_visit_form.js" %}"></script>
    <script>
    $('#add_action').click(function() {
        addActionForm(this, 'actionform');
    });</script>
    <script>
    $('#remove_action').click(function() {
        deleteActionForm(this);
    });</script>
{#    <script>#}
{#    $('#add_action').click(function() {#}
{#        addActionFormTest()#}
{#    });#}
{#</script>#}
{% endblock %}
