{% extends "base.html" %}
{% load static %}
{% load template_tags %}
{% block content %}
    <div class="row title">
        <div class="col-xs-12 col-sm-4 col-md-4"><h2>Site Visit Details</h2></div>

        <div class="col-xs-12 col-sm-8 col-md-2 pull-right">
            <a class="btn btn-danger btn-block" id="danger-button" data-href="{% url 'delete_site_visit' SiteVisit.actionid_id %}">Delete</a>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 pull-right">
            <a class="btn btn-primary btn-block"
               href="{% url 'site_visits_by_site' SiteVisit.samplingfeatureid_id %}">View Full Visit
                History for Site</a></div>
        <div class="col-xs-12 col-sm-4 col-md-3 pull-right">
            <a class="btn btn-primary btn-block" href="{% url 'edit_site_visit' SiteVisit.actionid_id %}">Edit Site Visit Description</a></div>

    </div>
    <div class="row detail-mid">
        <div class="col-xs-12 col-sm-6 col-md-6 pull-right" id="map-canvas"></div>
        <div class="col-xs-12 col-sm-6 col-md-6 pull-right">
            <h3>Location</h3>
            <table class="table">
                <tr>
                    <th>Site Code:</th>
                    <td>
                        <a href="{% url 'site_detail' SiteVisit.samplingfeatureid_id %}">
                            {{ SiteVisit.samplingfeatureid.samplingfeaturecode }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>Site Name:</th>
                    <td>{{ SiteVisit.samplingfeatureid.samplingfeaturename }}</td>
                </tr>
            </table>
            <h3>Description</h3>
            <table class="table">
                <tr>
                    <th>People:</th>
                    <td>{% for person in SiteVisit.actionid.actionby.all %}
                        <a href="{% url 'person_detail' person.affiliationid_id %}">{{ person.affiliationid.personid.personfirstname }}
                        {{ person.affiliationid.personid.personlastname }}</a>
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}</td>
                </tr>
                <tr>
                    <th>Begin Date Time:</th>
                    <td>{{ SiteVisit.actionid.begindatetime }}</td>
                </tr>
                <tr>
                    <th>End Date Time:</th>
                    <td>{{ SiteVisit.actionid.enddatetime|default:"present" }}</td>
                </tr>
                <tr>
                    <th>UTC Offset:</th>
                    <td>{{ SiteVisit.actionid.begindatetimeutcoffset }}</td>
                </tr>
                <tr>
                    <th>Action Description:</th>
                    <td>{{ SiteVisit.actionid.actiondescription }}</td>
                </tr>
            </table>
            {% if SiteVisit.actionid.actionannotation_set.all|length > 0 %}
                <h3>Annotations</h3>
                <ul>
                {% for annotation in SiteVisit.actionid.actionannotation_set.all %}
                    <li>{{ annotation.annotationid.annotationtext }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>

    </div>
    <div class="row">
        <div class="col-md-9"><h3>Related Actions</h3></div>
    </div>

    <hr class="divider">

    <div class="row">
        <div class="col-sm-3 col-xs-12 col-md-3 pull-right"><a class="btn btn-primary btn-block"
                                                               href="{% url 'create_site_visit' %}">Add New Site Visit</a></div>
        <div class="col-sm-3 col-xs-12 col-md-3 pull-right"><a class="btn btn-block btn-primary"
                                                               href="{% url 'create_action_from_visit' 'Generic' SiteVisit.actionid_id %}">Add Another Action</a></div> <!-- Add reference to Site Visit later-->
        <div class="col-sm-3 col-xs-12 col-md-3 pull-right"><a class="btn btn-primary btn-block"
                                                               href="{% url 'create_action_from_visit' 'EquipmentDeployment' SiteVisit.actionid_id %}">Add New Deployment</a></div> <!-- Add reference to Site Visit later-->
        <div class="col-sm-3 col-xs-12 col-md-3 pull-right"><a class="btn btn-primary btn-block"
                                                               href="{% url 'create_action_from_visit' 'InstrumentCalibration' SiteVisit.actionid_id %}">Add New Calibration</a></div> <!-- Add reference to Site Visit later-->
    </div>

    <div class="row">
        <table class="data-table">
            <thead>
            <tr>
                <th>Action Type</th>
                <th>Begin Date Time</th>
                <th>End Date Time</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>

            {% for fieldactivity in SiteVisit.actionid.parent_relatedaction.all %}
                <tr>
                    <td>
                        {% if fieldactivity.actionid.actiontypecv_id == 'Instrument calibration' %}
                            <a href="{% url 'calibration_detail' fieldactivity.actionid_id %}">
                        {% elif fieldactivity.actionid.actiontypecv_id == 'Equipment deployment' or fieldactivity.actionid.actiontypecv_id == 'Instrument deployment' %}
                            <a href="{% url 'deployment_detail' fieldactivity.actionid_id %}">
                        {% else %}
                            <a href="{% url 'field_activity_detail' fieldactivity.actionid_id %}">
                        {% endif %}
                                {{ fieldactivity.actionid.actiontypecv_id|separatewordsbycaps }}
                            </a>
                    </td>
                    <td>{{ fieldactivity.actionid.begindatetime }}</td>
                    <td>{{ fieldactivity.actionid.enddatetime|default:"present" }}</td>
                    <td>{{ fieldactivity.actionid.actiondescription }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <nav>
    <ul class="pager">
        {% if next_site_visit %}
        <li class="next col-sm-3 col-xs-6 col-md-2 pull-right">
            <a class="btn btn-block" href="{% url 'site_visit_detail' next_site_visit %}">Next<span aria-hidden="true">&rarr;</span></a></li>
        {% endif %}
        {% if previous_site_visit %}
        <li class="previous col-sm-3 col-xs-6 col-md-2 pull-left">
            <a class="btn btn-block" href="{% url 'site_visit_detail' previous_site_visit %}"><span aria-hidden="true">&larr;</span> Previous</a></li>
    {% endif %}
        </ul>
    </nav>

    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGtObe6Ic1FeiDvC9Oxt3oWc-HWk8wuTk&sensor=false">
    </script>

    <script type="text/javascript" src="{% static "sensordatainterface/js/google_maps.js" %}"></script>
    <script type="text/javascript">
        {% with site=SiteVisit.samplingfeatureid.sites.all|first %}
            google.maps.event.addDomListener(window, 'load', initialize({{ site.latitude }}, {{ site.longitude }}));
        {% endwith %}
    </script>
{% endblock %}