{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="col-xs-12 col-sm-6 col-md-7">
        <h1>Deployments
            {% if site_name %} for {{ site_name.samplingfeaturename }}
            {% elif equipment_name %} for Equipment {{ equipment_name.equipmentname }}
            {% endif %}</h1>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 pull-right">
        <button class="btn btn-primary btn-block new-btn">New Deployment</button>
    </div>
    <table id="data-table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Site Name</th>
            <th>Equipment SN</th>
            <th>Equipment Type</th>
            <th>Manufacturer</th>
            <th>Model</th>
        </tr>
        </thead>
        <tbody>
        {% for deployment in Deployments %}
            {% for site in deployment.actionid.featureaction.all %}
                <tr>
                    <td>
                        <a href="{% url 'deployment_detail' deployment.actionid.actionid %}">{{ deployment.actionid.begindatetime }}<br/>to
                                {{ deployment.actionid.enddatetime|default:"present" }}</a></td>
                    <td>{{ site.samplingfeatureid.samplingfeaturename }}</td>
                    <td>{{ deployment.equipmentid.equipmentserialnumber }}</td>
                    <td>{{ deployment.equipmentid.equipmenttypecv }}</td>
                    <td>{{ deployment.equipmentid.equipmentmodelid.modelmanufacturerid.organizationname }}</td>
                    <td>{{ deployment.equipmentid.equipmentmodelid.modelname }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    <script src="{% static  "sensordatainterface/js/utilities.js" %}"></script>
{% endblock %}