{% extends "base.html" %}
{% load static %}
{% load template_tags %}
{% block content %}
    <div class="row title">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><h2>Deployment Details</h2></div>
    </div>
    <!--buttons -->
    <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-3 pull-right">
            <a class="btn btn-primary btn-block" href="{% url 'create_action' 'EquipmentDeployment' %}">Create New
                Deployment</a></div>
        <div class="col-xs-12 col-sm-6 col-md-2 pull-right">
            <a class="btn btn-primary btn-block" href="#">Retrieve</a></div>
        <div class="col-xs-12 col-sm-6 col-md-3 pull-right">
            <a class="btn btn-primary btn-block" href="#">Edit Deployment Description</a></div>
        <div class="col-xs-12 col-sm-6 col-md-2 pull-right">
            <a class="btn btn-danger btn-block" id="danger-button" href="#">Delete</a>
        </div>
    </div>

    <!-- deployment details -->
    {% with samplingfeature=Deployment.featureaction.all.0.samplingfeatureid %}
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h3>Deployment</h3>
            <table class="table">
                <tr>
                    <th>Site Code:</th>
                    <td>
                        <a href="{% url 'site_detail' samplingfeature.samplingfeatureid %}">
                            {{ samplingfeature.samplingfeaturecode }}</a>
                    </td>
                </tr>
                <tr>
                    <th>Site Name:</th>
                    <td>{{ samplingfeature.samplingfeaturename }}</td>
                </tr>
                <tr>
                    <th>Begin Date Time:</th>
                    <td>{{ Deployment.begindatetime }}</td>
                </tr>
                <tr>
                    <th>End Date Time:</th>
                    <td>{{ Deployment.enddatetime|default:"present" }}</td>
                </tr>
                <tr>
                    <th>UTC Offset:</th>
                    <td>{{ Deployment.begindatetimeutcoffset }}</td>
                </tr>
                <tr>
                    <th>Currently Deployed:</th>
                    <td>{% if Deployment.enddatetime %} No {% else %} Yes {% endif %}</td>
                </tr>
                <tr>
                    <th>Action Description:</th>
                    <td>{{ Deployment.actiondescription|default:" -- " }}</td>
                </tr>
                <tr>
                    <th>Action Link:</th>
                    <td>
                        {% if Deployment.actionfilelink %}
                            <a href="
                                    {{ MEDIA_URL }}{{ Deployment.actionfilelink }}">{{ Deployment.actionfilelink|get_media_file_name }}</a>
                        {% else %}
                            <p>--</p>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
        <!-- Equipment Used Table -->
        <div class="row detail-mid">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3>Equipment Used</h3>
                {% for equipment in Deployment.equipmentused.all %}
                    <div class="row side-by-side-item">
                        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 side-table-details">
                            <table>
                                <tbody>
                                <tr>
                                    <th>Equipment Serial Number</th>
                                    <td>
                                        <a href="{% url 'equipment_detail' equipment.equipmentid.equipmentid %}">
                                            {{ equipment.equipmentid.equipmentserialnumber }}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Equipment Code</th>
                                    <td>{{ equipment.equipmentid.equipmentcode }}</td>
                                </tr>
                                <tr>
                                    <th>Equipment Name</th>
                                    <td>{{ equipment.equipmentid.equipmentname }}</td>
                                </tr>
                                <tr>
                                    <th>Equipment Type</th>
                                    <td>{{ equipment.equipmentid.equipmenttypecv }}</td>
                                </tr>
                                <tr>
                                    <th>Equipment Model Name</th>
                                    <td>
                                        <a href="{% url 'models_detail' equipment.equipmentid.equipmentmodelid.equipmentmodelid %}">
                                            {{ equipment.equipmentid.equipmentmodelid.modelname }}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Equipment Manufacturer</th>
                                    <td>{{ equipment.equipmentid.equipmentmodelid.modelmanufacturerid.organizationname }}</td>
                                </tr>
                                <tr>
                                    <th>Equipment Owner</th>
                                    <td>
                                        <a href="{% url 'person_detail' equipment.equipmentid.equipmentownerid.affiliation.get.affiliationid %}">
                                            {{ equipment.equipmentid.equipmentownerid.personfirstname }} {{ equipment.equipmentid.equipmentownerid.personlastname }}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Equipment Description</th>
                                    <td>{{ equipment.equipmentid.equipmentdescription }}</td>
                                </tr>
                                <tr>
                                    <th>Purchase Date</th>
                                    <td>{{ equipment.equipmentid.equipmentpurchasedate }}</td>
                                </tr>
                                <tr>
                                    <th>Link</th>
                                    <td>{{ equipment.equipmentid.equipmentdocumentationlink }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 side-dependent-table">
                            <div class="row">
                                <div class="col-md-9"><h4>Instrument Measured Variable Table</h4></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-xs-12 col-md-3 pull-right">
                                    <a class="btn btn-block btn-primary"
                                       href="{% url 'create_output_variable_deployment' samplingfeature.samplingfeatureid equipment.bridgeid %}">New
                                        Deployment Measured Variable</a>
                                </div>
                            </div>
                            <div class="row">
                                <table class="data-table">
                                    <thead>
                                    <tr>
                                        <th>Variable Code</th>
                                        <th>Variable Name</th>
                                        <th>Model Name</th>
                                        <th>Method Code</th>
                                        <th>Method Name</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for variable in equipment.equipmentid.equipmentmodelid.instrumentoutputvariable.all %}
                                        {% if variable.modelid.isinstrument %}
                                            <tr>
                                                <td>
                                                    {#                                                                    <a href="{% url 'measured_variable_detail' variable.instrumentoutputvariableid Deployment.bridgeid samplingfeature.samplingfeatureid %}">#}
                                                    {{ variable.variableid.variablecode }}
                                                    {#                                                                    </a>#}
                                                </td>
                                                <td>{{ variable.variableid.variablenamecv }}</td>
                                                <td>{{ variable.modelid.modelname }}</td>
                                                <td>{{ variable.instrumentmethodid.methodcode }}</td>
                                                <td>{{ variable.instrumentmethodid.methodname }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <h4>Related Equipment</h4>
                            <table class="table">
                                {% for parent in equipment.equipmentid.relatedequipment_equipmentid.all %}
                                    {% if parent.relationshiptypecv == 'is_child_of' %}
                                        <tr>
                                            <th>Equipment Serial Number:</th>
                                            <td>
                                                <a href="{% url 'equipment_detail' parent.relatedequipmentid.equipmentid %}">
                                                    {{ parent.relatedequipmentid.equipmentserialnumber }}</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>RelationshipType:</th>
                                            <td>{{ parent.relationshiptypecv }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}

                            </table>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
        <hr class="divider">
    {% endwith %}

    <div class="row">
        <div class="col-sm-3 col-xs-12 col-md-2 pull-right">
            <a class="btn btn-primary btn-block"
                    {% for related in Deployment.relatedaction.all %}
                        {% if related.relationshiptypecv == 'is_child_of' %}
               href="{% url 'site_visit_detail' related.relatedactionid.actionid %}"
                        {% endif %}
                    {% endfor %}>Go to Site Visit</a></div>
                <div class="col-sm-3 col-xs-12 col-md-3 pull-right">
                    <a class="btn btn-primary btn-block"
                       href="{% url 'deployments_by_equipment' Deployment.equipmentid.equipmentid %}">View Equipment's
                        Deployment History</a></div>
    </div>
    <nav>
        <ul class="pager">
            {% if next_deployment %}
                <li class="next col-sm-3 col-xs-6 col-md-2 pull-right"><a class="btn btn-block"
                                                                          href="{% url 'deployment_detail' next_deployment %}">Next<span
                        aria-hidden="true">&rarr;</span></a></li>
            {% endif %}
            {% if previous_deployment %}
                <li class="previous col-sm-3 col-xs-6 col-md-2 pull-left"><a class="btn btn-block"
                                                                             href="{% url 'deployment_detail' previous_deployment %}"><span
                        aria-hidden="true">&larr;</span>
                    Previous</a></li>
            {% endif %}
        </ul>
    </nav>

    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGtObe6Ic1FeiDvC9Oxt3oWc-HWk8wuTk&sensor=false">
    </script>

    <script type="text/javascript" src="{% static "sensordatainterface/js/google_maps.js" %}"></script>
{% endblock %}