{% extends "base.html" %}
{% load static %}
{% load inv_extras %}
{% block content %}
    <div class="row title">
        <div class="col-xs-12 col-sm-6 col-md-7"><h2>Deployment Details</h2></div>

        <div class="col-xs-12 col-sm-6 col-md-3 pull-right">
            <a class="btn btn-primary btn-block" href="#">Create New Deployment</a></div>
        <div class="col-xs-12 col-sm-6 col-md-3 pull-right">
            <a class="btn btn-primary btn-block" href="#">Retrieve</a></div>
        <div class="col-xs-12 col-sm-6 col-md-3 pull-right">
            <a class="btn btn-primary btn-block" href="#">Edit Deployment Description</a></div>
        <div class="col-xs-12 col-sm-6 col-md-2 pull-right">
            <a class="btn btn-danger btn-block" id="danger-button" href="#">Delete</a>
        </div>
    </div>
    <div class="row detail-mid">
        <div class="col-xs-12 col-sm-6 col-md-6 pull-right"></div>
        <div class="col-xs-12 col-sm-6 col-md-6 pull-right">
            <h3>Equipment</h3>
            <table class="table">
                <tr>
                    <th>Equipment Serial Number:</th>
                    <td><a href="{% url 'equipment_detail' Deployment.equipmentid.equipmentid %}">
                        {{ Deployment.equipmentid.equipmentserialnumber }}</a></td>
                </tr>
                <tr>
                    <th>Equipment Code:</th>
                    <td>{{ Deployment.equipmentid.equipmentcode }}</td>
                </tr>
                <tr>
                    <th>Equipment Name:</th>
                    <td>{{ Deployment.equipmentid.equipmentname }}</td>
                </tr>
                <tr>
                    <th>Equipment Type:</th>
                    <td>{{ Deployment.equipmentid.equipmenttypecv }}</td>
                </tr>
                <tr>
                    <th>Equipment Model Name:</th>
                    <td><a href="{% url 'models_detail' Deployment.equipmentid.equipmentmodelid.equipmentmodelid %}">
                        {{ Deployment.equipmentid.equipmentmodelid.modelname }}</a></td>
                </tr>
                <tr>
                    <th>Equipment Manufacturer:</th>
                    <td>
                        {{ Deployment.equipmentid.equipmentmodelid.modelmanufacturerid.organizationname }}</td>
                </tr>
                <tr>
                    <th>Owner Name:</th>
                    <td>{{ Deployment.equipmentid.equipmentownerid.personfirstname }} {{ Deployment.equipmentid.equipmentownerid.personlastname }}</td>
                </tr>
                {#                <tr>#}
                {#                    <th>Description:</th>#}
                {#                    <td>{{ Deployment.equipmentid.equipmentdescription }}</td>#}
                {#                </tr>#}
                {#                <tr>#}
                {#                    <th>Purchase Date:</th>#}
                {#                    <td>{{ Deployment.equipmentid.equipmentpurchasedate }}</td>#}
                {#                </tr>#}
                {#                <tr>#}
                {#                    <th>Link:</th>#}
                {#                    <td>{{ Deployment.equipmentid.equipmentdocumentationlink }}</td>#}
                {#                </tr>#}

                {#                {% for affiliation in Deployment.equipmentid.equipmentownerid.affiliation.all %}#}
                {#                    {% if forloop.first %}#}
                {#                        <tr>#}
                {#                            <th>Owner Institution:</th>#}
                {#                            <td>{{ affiliation.organizationid.organizationname }}</td>#}
                {#                        </tr>#}
                {#                        <tr>#}
                {#                            <th>Owner Address:</th>#}
                {#                            <td>{{ affiliation.primaryaddress }}</td>#}
                {#                        </tr>#}
                {#                        <tr>#}
                {#                            <th>Owner Phone:</th>#}
                {#                            <td>{{ affiliation.primaryphone }}</td>#}
                {#                        </tr>#}
                {#                        <tr>#}
                {#                            <th>Email:</th>#}
                {#                            <td>{{ affiliation.primaryemail }}</td>#}
                {#                        </tr>#}
                {#                    {% endif %}#}
                {#                {% endfor %}#}
            </table>
            <h3>Deployment</h3>
            <table class="table">
                <tr>
                    <th>Site Code:</th>
                    <td><a href="{% url 'site_detail' Deployment.actionid.featureaction.all.0.samplingfeatureid.samplingfeatureid %}">
                        {{ Deployment.actionid.featureaction.all.0.samplingfeatureid.samplingfeaturecode }}</a>
                    </td>
                </tr>
                <tr>
                    <th>Site Name:</th>
                    <td>{{ Deployment.actionid.featureaction.all.0.samplingfeatureid.samplingfeaturename }}</td>
                </tr>
                <tr>
                    <th>Begin Date Time:</th>
                    <td>{{ Deployment.actionid.begindatetime }}</td>
                </tr>
                <tr>
                    <th>End Date Time:</th>
                    <td>{{ Deployment.actionid.enddatetime|default:"present" }}</td>
                </tr>
                <tr>
                    <th>UTC Offset:</th>
                    <td>{{ Deployment.actionid.begindatetimeutcoffset }}</td>
                </tr>
                <tr>
                    <th>Currently Deployed:</th>
                    <td>{% if Deployment.actionid.enddatetime %} No {% else %} Yes {% endif %}</td>
                </tr>
                <tr>
                    <th>Action Description:</th>
                    <td>{{ Deployment.actionid.actiondescription|default:" -- " }}</td>
                </tr>
                <tr>
                    <th>Action Link:</th>
                    <td>{{ Deployment.actionid.actionfilelink|default:" -- " }}</td>
                </tr>
                {#                <tr>#}
                {#                    <th>Deployment Schematic:</th>#}
                {#                    <td>{{ Deployment.actionid.actionfilelink }}</td>#}
                {#                </tr>#}
            </table>
            <h3>Related Equipment</h3>
            <table class="table">
                {% for parent in Deployment.equipmentid.relatedequipment_equipmentid.all %}
                    {% if parent.relationshiptypecv == 'is_child_of' %}
                        <tr>
                            <th>Equipment Serial Number:</th>
                            <td><a href="{% url 'equipment_detail' parent.relatedequipmentid.equipmentid %}">
                                {{ parent.relatedequipmentid.equipmentserialnumber }}</a>
                            </td>
                        </tr>
                        <tr>
                            <th>RelationshipType:</th>
                            <td>{{ parent.relationshiptypecv }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}

            </table>
        </div>
    </div>
    <hr class="divider">
    <div class="row">
        <div class="col-md-9"><h3>Instrument Measured Variable Table</h3></div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-xs-12 col-md-3 pull-right"><a class="btn btn-block btn-primary"
                                                               href="#">New Deployment Measured Variable</a></div>
    </div>
    <div class="row">
        <table class="data-table">
            <thead>
            <tr>
                <th>Variable Code</th>
                <th>Variable Name</th>
                <th>Model Name</th>
                <th>Method Code</th>
                <th>Method Name</th>
            </tr>
            </thead>
            <tbody>
            {% for variable in Deployment.equipmentid.equipmentmodelid.instrumentoutputvariable.all %}
                <tr>
                    <td>
                        <a href="{% url 'measured_variable_detail' variable.variableid.variableid Deployment.bridgeid %}">
                            {{ variable.variableid.variablecode }}</a>
                    </td>
                <td>{{ variable.variableid.variablenamecv }}</td>
                <td>{{ variable.modelid.modelname }}</td>
                <td>{{ variable.instrumentmethodid.methodcode }}</td>
                <td>{{ variable.instrumentmethodid.methodname }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-sm-3 col-xs-12 col-md-2 pull-right">
            <a class="btn btn-primary btn-block"
                    {% for related in Deployment.actionid.relatedaction.all %}
                        {% if related.relationshiptypecv == 'is_child_of' %}
               href="{% url 'site_visit_detail' related.relatedactionid.actionid %}"
                        {% endif %}
                    {% endfor %}>Go to Site Visit</a></div>
        <div class="col-sm-3 col-xs-12 col-md-3 pull-right">
            <a class="btn btn-primary btn-block"
               href="{% url 'deployments_by_equipment' Deployment.equipmentid.equipmentid %}">View Equipment's
                Deployment History</a></div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-xs-12 col-md-2 pull-right"><a class="btn btn-block btn-primary"
                                                               href="#">Next</a></div>
        <div class="col-sm-3 col-xs-12 col-md-2 pull-left"><a class="btn btn-primary btn-block"
                                                              href="#">Previous</a></div>
    </div>

    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGtObe6Ic1FeiDvC9Oxt3oWc-HWk8wuTk&sensor=false">
    </script>

    <script type="text/javascript" src="{% static "sensordatainterface/js/google_maps.js" %}"></script>
{% endblock %}