{% extends "base.html" %}
{% load static %}
{% load template_tags %}

{% block content %}
    <div class="col-xs-12 col-sm-6 col-md-7">
        <h1>Deployment{% if site_name %}s for {{ site_name.samplingfeaturename }}{% elif equipment_name %} History{% else %}s{% endif %}
        </h1>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 pull-right">
        {% if site_name %}
            <a class="btn btn-primary btn-block new-btn" href="{% url 'create_action_for_site' 'EquipmentDeployment' site_name.samplingfeatureid %}">New Deployment</a>
        {% else %}
            <a class="btn btn-primary btn-block new-btn" href="{% url 'create_action' 'EquipmentDeployment' %}">New Deployment</a>
        {% endif %}

    </div>
    <table class="data-table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Site Code</th>
            <th>Site Name</th>
            <th>Site Group</th>
            <th>Equipment Serial Number</th>
            <th>Equipment Type</th>
            <th>Manufacturer Name</th>
            <th>Model Part Number</th>
            <th>Deployed</th>
        </tr>
        </thead>
        <tbody>
        {% for deployment in Deployments %}
            {% with retrieval=deployment|get_deployment_retrieval %}
                {% for site in deployment.featureaction.all %}
                    {% for equipment in deployment.equipmentused.all %}
                    <tr>
                        <td data-order="{{ deployment.begindatetime|date:'U' }}">
                            <a href="{% url 'deployment_detail' deployment.actionid %}">
                                {{ deployment.begindatetime }}<br/>to

                                {% if retrieval != None %}
                                    {{ retrieval.actionid.begindatetime }}
                                {% else %}
                                    present
                                {% endif %}
                            </a></td>
                        <td>{{ site.samplingfeatureid.samplingfeaturecode }}</td> {# list all equipment linking to single actions #}
                        <td>{{ site.samplingfeatureid.samplingfeaturename }}</td>
                        <td>
                        {% if site.samplingfeatureid.samplingfeaturecode|slice:"2" == "LR" %}
                            Logan River
                        {% elif site.samplingfeatureid.samplingfeaturecode|slice:"2" == "RB" %}
                            Red Butte Creek
                        {% elif site.samplingfeatureid.samplingfeaturecode|slice:"2" == "PR" %}
                            Provo River
                        {% endif %}
                        </td>
                            <td>{{ equipment.equipmentid.equipmentserialnumber }}</td>
                            <td>{{ equipment.equipmentid.equipmenttypecv_id }}</td>
                            <td>{{ equipment.equipmentid.equipmentmodelid.modelmanufacturerid.organizationname }}</td>
                            <td>{{ equipment.equipmentid.equipmentmodelid.modelpartnumber|default:" -- " }}</td>
                        <td>
                            {% if retrieval != None %}
                                No
                            {% else %}
                                Yes
                            {% endif %}
                        </td>
                    </tr>
                        {% endfor %}
                {% endfor %}
            {% endwith %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}