{% extends "base.html" %}
{% load static %}
{% load template_tags %}
{% block content %}
    <div class="row title">
        <div class="col-xs-12 col-sm-6 col-md-7"><h2>Instrument Output Variable Details</h2></div>
        <div class="col-xs-12 col-sm-6 col-md-2 pull-right">
            <a class="btn btn-danger btn-block" id="danger-button"
               data-href="{% url 'delete_output_variable' OutputVariable.instrumentoutputvariableid %}">Delete</a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 pull-right">
            <a class="btn btn-primary btn-block"
               href="{% url 'create_output_variable' OutputVariable.instrumentoutputvariableid %}">Edit Variable
                Description</a></div>
    </div>

    <div class="row detail-mid">
        <div class="col-xs-12 col-sm-6 col-md-6 pull-right"></div>
        <div class="col-xs-12 col-sm-6 col-md-6 pull-right">
            <table class="table">
                <tr>
                    <th>Variable Code:</th>
                    <td>{{ OutputVariable.variableid.variablecode }}</td>
                </tr>
                <tr>
                    <th>Variable Name:</th>
                    <td>{{ OutputVariable.variableid.variablenamecv }}</td>
                </tr>
                <tr>
                    <th>Equipment Model Name:</th>
                    <td>
                        <a href="{% url 'models_detail' OutputVariable.modelid.equipmentmodelid %}">{{ OutputVariable.modelid.modelname }}</a>
                    </td>
                </tr>
                <tr>
                    <th>Instrument Resolution:</th>
                    <td>{{ OutputVariable.instrumentresolution|default:" -- " }}</td>
                </tr>
                <tr>
                    <th>Instrument Accuracy:</th>
                    <td>{{ OutputVariable.instrumentaccuracy|default:" -- " }}</td>
                </tr>
                <tr>
                    <th>Instrument Raw Output Units:</th>
                    <td>{{ OutputVariable.instrumentrawoutputunitsid.unitsname|default:" -- " }}</td>
                </tr>
                <tr>
                    <th>Method Code:</th>
                    <td>{{ OutputVariable.instrumentmethodid.methodcode }}</td>
                </tr>
                <tr>
                    <th>Method Name:</th>
                    <td>{{ OutputVariable.instrumentmethodid.methodname }}</td>
                </tr>
                <tr>
                    <th>Method Description:</th>
                    <td>{{ OutputVariable.instrumentmethodid.methoddescription }}</td>
                </tr>

                <tr>
                    <th>Method Link:</th>
                    <td><a href="{{ OutputVariable.instrumentmethodid.methodlink }}">
                        {{ OutputVariable.instrumentmethodid.methodlink }}</a></td>
                </tr>
            </table>
        </div>
    </div>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGtObe6Ic1FeiDvC9Oxt3oWc-HWk8wuTk&sensor=false">
    </script>

    <script type="text/javascript" src="{% static "sensordatainterface/js/google_maps.js" %}"></script>
{% endblock %}