<div class="row title">
    <div class="col-xs-12 col-sm-6 col-md-7">
        <h1>Instrument Output Variables</h1>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 pull-right">
        <a class="btn btn-primary btn-block new-btn" href="{% url 'create_output_variable' %}">
            New Instrument Output Variable</a>
    </div>
</div>
<table class="data-table">
    <thead>
    <tr>
        <th>Variable Code</th>
        <th>Variable Name</th>
        <th>Model Name</th>
        <th>Method Code</th>
        <th>Method Name</th>
    </tr>
    </thead>
    <tbody>
    {% for variable in OutputVariables %}
        <tr>
            <td><a href="{% url 'output_variable_detail' variable.instrumentoutputvariableid %}">
                {{ variable.variableid.variablecode }}
            </a></td>
            <td>{{ variable.variableid.variablenamecv_id }}</td>
            <td>{{ variable.modelid.modelname }}</td>
            <td>{{ variable.instrumentmethodid.methodcode }}</td>
            <td>{{ variable.instrumentmethodid.methodname }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>