{% extends "base.html" %}
{% load static %}
{% load inv_extras %}
{% block content %}
    <div class="row title">
        <div class="col-xs-12 col-sm-6 col-md-7"><h2>Person Details</h2></div>
        <div class="col-xs-12 col-sm-6 col-md-3 pull-right">
            <a class="btn btn-primary btn-block" href="{% url 'create_person' Person.affiliationid %}">Edit Person Description</a></div>
        <div class="col-xs-12 col-sm-6 col-md-2 pull-right">
            <a class="btn btn-danger btn-block" id="danger-button" data-href="{% url 'delete_model' Person.affiliationid %}">Delete</a>
        </div>
    </div>
    <div class="row detail-mid">
        <div class="col-xs-12 col-sm-6 col-md-6 pull-left">
            <table class="table">
                <tr>
                    <th>Name:</th>
                    <td>{{ Person.personid.personfirstname }} {{ Person.personid.personlastname }}</td>
                </tr>
                <tr>
                    <th>Organization:</th>
                    <td>
                        <a href="{% url 'vendor_detail' Person.organizationid.organizationid %}">
                        {{ Person.organizationid.organizationname|default:" -- " }}
                    </a>
                    </td>
                </tr>
                <tr>
                    <th>Address:</th>
                    <td>
                        {{ Person.primaryemail }}
                    </td>
                </tr>
                <tr>
                    <th>Phone:</th>
                    <td>
                        {{ Person.primaryphone }}
                    </td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td>{{ Person.primaryemail }}</td>
                </tr>
            </table>
        </div>
    </div>
    {% block equipments %}
        <div class="row">
            <div class="col-md-9"><h3>Equipments owned by this person</h3></div>
        </div>
        <hr class="divider">

        <div class="row">
            <table class="data-table">
                <thead>
                <tr>
                    <th>Serial Number</th>
                    <th>Model</th>
                    <th>Type</th>
                    <th>Manufacturer</th>

                </tr>
                </thead>
                <tbody>
                {% for equipment in Person.personid.equipment_set.all %}
                    <tr>
                        <td>
                            <a href="{% url 'equipment_detail' equipment.equipmentid %}">
                                {{ equipment.equipmentserialnumber }}
                            </a></td>
                        <td><a href="{% url 'models_detail'  equipment.equipmentmodelid_id %}">
                                {{  equipment.equipmentmodelid.modelname }}
                            </a>
                        </td>
                        <td>{{ equipment.equipmenttypecv }}</td>

                        <td>
                            <a href="{% url 'vendor_detail' equipment.equipmentmodelid.modelmanufacturerid.organizationid %}">
                                {{ equipment.equipmentmodelid.modelmanufacturerid.organizationname|default:" -- " }}
                            </a>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endblock %}
{% endblock %}