{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="row title">
        <div class="col-xs-12 col-sm-6 col-md-7">
            <h1>Spatial Offset Type</h1>
        </div>

    </div>
    <table class="data-table">
        <thead>
        <tr>
            <th>Term</th>
            <th>Name</th>
            <th>Category</th>
            <th>Field activity</th>

        </tr>
        </thead>
        <tbody>
        {% for cv in SpatialOffsetType %}
            <tr>
                <td><a href="{{ cv.sourcevocabularyuri }}">{{ cv.term }}</a>
                </td>
                <td>{{ cv.name }}</td>
                <td>{{ cv.category }}</td>
                <td>{{ cv.definition }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}