{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1>Control Vocabularies</h1>
    <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" id="initial_tab">
                <a href="#site" onclick="changeTab('site')" aria-controls="site" role="tab" data-toggle="tab">Site</a>
            </li>
            <li role="presentation">
                <a href="#equipment" onclick="changeTab('equipment')" aria-controls="equipment" role="tab"
                   data-toggle="tab">Equipment</a>
            </li>
            <li role="presentation">
                <a href="#activity" onclick="changeTab('activity')" aria-controls="activity" role="tab"
                   data-toggle="tab">Action</a></li>
            <li role="presentation">
                <a href="#deployment" onclick="changeTab('deployment')" aria-controls="deployment" role="tab"
                   data-toggle="tab">Deployment</a>
            </li>
            <li role="presentation">
                <a href="#calibration" onclick="changeTab('calibration')" aria-controls="calibration" role="tab"
                   data-toggle="tab">Calibration</a>
            </li>
            <li role="presentation">
                <a href="#vendor" onclick="changeTab('vendor')" aria-controls="vendor" role="tab" data-toggle="tab">Organization</a>
            </li>
        </ul>
        <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade active" id="site">

                <div class="row title">
                    <div class="col-xs-12 col-sm-6 col-md-7">
                        <h2>Sampling Feature Types</h2>
                    </div>

                    <!-- Removed for Issue #124. Functionality is broken, but form still exists.
                    <div class="col-xs-12 col-sm-6 col-md-3 pull-right">
                        <a class="btn btn-primary btn-block new-btn" href="{% url 'create_control_vocabulary' 'CvSamplingfeaturetype' %}">New Sampling Feature Type</a>
                    </div>
                    -->

                </div>
                <table class="data-table">
                    <thead>
                    <tr>
                        <th>Term</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Field activity</th>

                        <!-- Removed for Issue #124. Functionality is broken, but form still exists.
                        <th>Operations</th>
                        -->

                    </tr>
                    </thead>
                    <tbody>
                    {% for cv in SamplingFeatureTypes %}
                        <tr>
                            <td><a href="{{ cv.sourcevocabularyuri }}">{{ cv.term }}</a>
                            </td>
                            <td>{{ cv.name }}</td>
                            <td>{{ cv.category }}</td>
                            <td>{{ cv.definition }}</td>

                            <!-- Removed for Issue #124. Functionality is broken, but form still exists.
                            <td>
                                <a class="icon-link" href="{% url 'create_control_vocabulary' 'CvSamplingfeaturetype' cv.name %}">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </a>
                                <a class="icon-link delete-icon" data-href="{% url 'delete_control_vocabulary' 'CvSamplingfeaturetype' cv.name %}">
                                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                                </a>
                            </td>
                            -->

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div class="row title">
                    <div class="col-xs-12 col-sm-6 col-md-7">
                        <h2>Site Types</h2>
                    </div>

                    <!-- Removed for Issue #124. Functionality is broken, but form still exists.
                    <div class="col-xs-12 col-sm-6 col-md-3 pull-right">
                        <a class="btn btn-primary btn-block new-btn" href="{% url 'create_control_vocabulary' 'CvSitetype' %}">New Site Type</a>
                    </div>
                    -->

                </div>
                <table class="data-table">
                    <thead>
                    <tr>
                        <th>Term</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Field activity</th>

                        <!-- Removed for Issue #124. Functionality is broken, but form still exists.
                        <th>Operations</th>
                        -->

                    </tr>
                    </thead>
                    <tbody>
                    {% for cv in SiteTypes %}
                        <tr>
                            <td><a href="{{ cv.sourcevocabularyuri }}">{{ cv.term }}</a>
                            </td>
                            <td>{{ cv.name }}</td>
                            <td>{{ cv.category }}</td>
                            <td>{{ cv.definition }}</td>

                            <!-- Removed for Issue #124. Functionality is broken, but form still exists.
                            <td>
                                <a class="icon-link" href="{% url 'create_control_vocabulary' 'CvSitetype' cv.name %}">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </a>
                                <a class="icon-link delete-icon" data-href="{% url 'delete_control_vocabulary' 'CvSitetype' cv.name %}">
                                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                                </a>
                            </td>
                            -->

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div class="row title">
                    <div class="col-xs-12 col-sm-6 col-md-7">
                        <h2>Spatial Offset Types</h2>
                    </div>

                    <!-- Removed for Issue #124. Functionality is broken, but form still exists.
                    <div class="col-xs-12 col-sm-6 col-md-3 pull-right">
                        <a class="btn btn-primary btn-block new-btn" href="{% url 'create_control_vocabulary' 'CvSpatialoffsettype' %}">New Spatial Offset Type</a>
                    </div>
                    -->

                </div>
                <table class="data-table">
                    <thead>
                    <tr>
                        <th>Term</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Field activity</th>

                        <!-- Removed for Issue #124. Functionality is broken, but form still exists.
                        <th>Operations</th>
                        -->

                    </tr>
                    </thead>
                    <tbody>
                    {% for cv in SpatialOffsetTypes %}
                        <tr>
                            <td><a href="{{ cv.sourcevocabularyuri }}">{{ cv.term }}</a>
                            </td>
                            <td>{{ cv.name }}</td>
                            <td>{{ cv.category }}</td>
                            <td>{{ cv.definition }}</td>

                            <!-- Removed for Issue #124. Functionality is broken, but form still exists.
                            <td>
                                <a class="icon-link" href="{% url 'create_control_vocabulary' 'CvSpatialoffsettype' cv.name %}">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </a>
                                <a class="icon-link delete-icon" data-href="{% url 'delete_control_vocabulary' 'CvSpatialoffsettype' cv.name %}">
                                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                                </a>
                            </td>
                            -->

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
            <div role="tabpanel" class="tab-pane fade" id="equipment">

                <div class="row title">
                    <div class="col-xs-12 col-sm-6 col-md-7">
                        <h2>Equipment Types</h2>
                    </div>

                    <!-- Removed for Issue #124. Functionality is broken, but form still exists.
                    <div class="col-xs-12 col-sm-6 col-md-3 pull-right">
                        <a class="btn btn-primary btn-block new-btn" href="{% url 'create_control_vocabulary' 'CvEquipmenttype' %}">New Equipment
                            Type</a>
                    </div>
                    -->

                </div>
                <table class="data-table">
                    <thead>
                    <tr>
                        <th>Term</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Field activity</th>

                        <!-- Removed for Issue #124. Functionality is broken, but form still exists.
                        <th>Operations</th>
                        -->

                    </tr>
                    </thead>
                    <tbody>
                    {% for cv in EquipmentTypes %}
                        <tr>
                            <td><a href="{{ cv.sourcevocabularyuri }}">{{ cv.term }}</a>
                            </td>
                            <td>{{ cv.name }}</td>
                            <td>{{ cv.category }}</td>
                            <td>{{ cv.definition }}</td>

                            <!-- Removed for Issue #124. Functionality is broken, but form still exists.
                            <td>
                                <a class="icon-link" href="{% url 'create_control_vocabulary' 'CvEquipmenttype' cv.name %}">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </a>
                                <a class="icon-link delete-icon" data-href="{% url 'delete_control_vocabulary' 'CvEquipmenttype' cv.name %}">
                                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                                </a>
                            </td>
                            -->

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% include "equipment/models/models-snippet.html" %}
                {% include "equipment/sensor-output-variables/output-vars-snippet.html" %}
            </div>
            <div role="tabpanel" class="tab-pane fade" id="activity">

                <div class="row title">
                    <div class="col-xs-12 col-sm-6 col-md-7">
                        <h2>Action Type</h2>
                    </div>

                    <!-- Removed for Issue #124. Functionality is broken, but form still exists.
                    <div class="col-xs-12 col-sm-6 col-md-3 pull-right">
                        <a class="btn btn-primary btn-block new-btn" href="{% url 'create_control_vocabulary' 'CvActiontype' %}">New Action Type</a>
                    </div>
                    -->

                </div>
                <table class="data-table">
                    <thead>
                    <tr>
                        <th>Term</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Field activity</th>

                        <!-- Removed for Issue #124. Functionality is broken, but form still exists.
                        <th>Operations</th>
                        -->

                    </tr>
                    </thead>
                    <tbody>
                    {% for cv in ActionTypes %}
                        <tr>
                            <td><a href="{{ cv.sourcevocabularyuri }}">{{ cv.term }}</a>
                            </td>
                            <td>{{ cv.name }}</td>
                            <td>{{ cv.category }}</td>
                            <td>{{ cv.definition }}</td>

                            <!-- Removed for Issue #124. Functionality is broken, but form still exists.
                            <td>
                                <a class="icon-link" href="{% url 'create_control_vocabulary' 'CvActiontype' cv.name %}">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </a>
                                <a class="icon-link delete-icon" data-href="{% url 'delete_control_vocabulary' 'CvActiontype' cv.name %}">
                                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                                </a>
                            </td>
                            -->

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            <div class="row title">
                    <div class="col-xs-12 col-sm-6 col-md-7">
                        <h2>Method Types</h2>
                    </div>

                    <!-- Removed for Issue #124. Functionality is broken, but form still exists.
                    <div class="col-xs-12 col-sm-6 col-md-3 pull-right">
                        <a class="btn btn-primary btn-block new-btn" href="{% url 'create_control_vocabulary' 'CvMethodtype' %}">New Method Type</a>
                    </div>
                    -->

                </div>
                <table class="data-table">
                    <thead>
                    <tr>
                        <th>Term</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Field activity</th>

                        <!-- Removed for Issue #124. Functionality is broken, but form still exists.
                        <th>Operations</th>
                        -->

                    </tr>
                    </thead>
                    <tbody>
                    {% for cv in MethodTypes %}
                        <tr>
                            <td><a href="{{ cv.sourcevocabularyuri }}">{{ cv.term }}</a>
                            </td>
                            <td>{{ cv.name }}</td>
                            <td>{{ cv.category }}</td>
                            <td>{{ cv.definition }}</td>
                            <!-- Removed for Issue #124. Functionality is broken, but form still exists.
                            <td>
                                <a class="icon-link" href="{% url 'create_control_vocabulary' 'CvMethodtype' cv.name %}">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </a>
                                <a class="icon-link delete-icon" data-href="{% url 'delete_control_vocabulary' 'CvMethodtype' cv.name %}">
                                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                                </a>
                            </td>
                            -->

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% include "vocabulary/../people/person.html" %}
            </div>
            <div role="tabpanel" class="tab-pane fade" id="deployment">
                <p>CV</p>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="calibration">
                {% include "site-visits/calibration/calibration-standards-snippet.html" %}
                {% include "site-visits/calibration/calibration-methods-snippet.html" %}
            </div>

            <div role="tabpanel" class="tab-pane fade" id="vendor">

                <div class="row title">
                    <div class="col-xs-12 col-sm-6 col-md-7">
                        <h2>Organization Types</h2>
                    </div>

                    <!-- Removed for Issue #124. Functionality is broken, but form still exists.
                    <div class="col-xs-12 col-sm-6 col-md-3 pull-right">
                        <a class="btn btn-primary btn-block new-btn" href="{% url 'create_control_vocabulary' 'CvOrganizationtype' %}">New Organization Type</a>
                    </div>
                    -->

                </div>
                <table class="data-table">
                    <thead>
                    <tr>
                        <th>Term</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Field activity</th>

                        <!-- Removed for Issue #124. Functionality is broken, but form still exists.
                        <th>Operations</th>
                        -->

                    </tr>
                    </thead>
                    <tbody>
                    {% for cv in OrganizationTypes %}
                        <tr>
                            <td><a href="{{ cv.sourcevocabularyuri }}">{{ cv.term }}</a>
                            </td>
                            <td>{{ cv.name }}</td>
                            <td>{{ cv.category }}</td>
                            <td>{{ cv.definition }}</td>

                            <!-- Removed for Issue #124. Functionality is broken, but form still exists.
                            <td>
                                <a class="icon-link" href="{% url 'create_control_vocabulary' 'CvOrganizationtype' cv.name %}">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </a>
                                <a class="icon-link delete-icon" data-href="{% url 'delete_control_vocabulary' 'CvOrganizationtype' cv.name %}">
                                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                                </a>
                            </td>
                            -->

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            <div class="col-xs-12 col-sm-6 col-md-7"><h2>Organizations</h2></div>
                <div class="col-xs-12 col-sm-6 col-md-3 pull-right">
                    <a class="btn btn-primary new-btn" href="{% url 'create_vendor' %}">New Organization</a>
                </div>
            
                <table class="data-table">
                    <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Website</th>
                        <th>Phone</th>
                        <th>Operations</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for vendor in Vendors %}
                        <tr>
                            <td>
                                <a href="{% url 'vendor_detail' vendor.organizationid %}">
                                    {{ vendor.organizationcode }}
                                </a>
                            </td>
                            <td>{{ vendor.organizationname }}</td>
                            <td>{{ vendor.organizationtypecv }}</td>
                            <td>{{ vendor.organizationlink }}</td>
                            <td>
                                {% for aff in vendor.affiliation.all %}
                                    {% if aff.isprimaryorganizationcontact and aff.primaryphone %}
                                        {{ aff.primaryphone }}{% if not forloop.last %}, {% endif %}
                                        {# how should this number be handled? #}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                <a class="icon-link" href="{% url 'create_vendor' vendor.organizationid %}">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </a>
                                <a class="icon-link delete-icon" data-href="{% url 'delete_vendor' vendor.organizationid %}">
                                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static  "sensordatainterface/js/vocabularies.js" %}"></script>
{% endblock %}