{% extends "base-form.html" %}
{% block button_value %}{% block item_name %}Equipment{% endblock %}{% endblock %}
{% block submit_url %}
    {% if equipment_id %}
        {% url 'create_equipment' equipment_id %}
    {% else %}
        {% url 'create_equipment' %}
    {% endif %}

{% endblock %}
{% block detail_cancel_url %}{% url 'equipment_detail' equipment_id %}{% endblock %}
{% block list_cancel_url %}{% url 'equipment' %}{% endblock %}

{% block content %}
    {{ block.super }}

    <table id="model-form">
        <tbody class="model-fields">
            {{ mock_model_form }}
        </tbody>
    </table>
{% endblock %}