body {
    overflow: hidden;
}

.alert {
    margin: 6px;
    margin-top: -1.7%;
    border-radius: 0px;
    width: 145%;
    margin-left: -34%;
    padding: 3px;
    padding-left: 73%;
}

#username {
    text-decoration: none;
}

#data-table {
    width: 100%;
}

.navbar {
    background: white;
}

.title h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.title .btn {
    margin-top: 0px;
}

.detail-mid {
    margin-bottom: 20px;
}

.footer {
    padding: 0px 15px;
    margin-right: 0px;
    text-align: justify;
}

.row {
    margin-bottom: 20px;
}

#image_logo {
    padding: 0.6px 9px;
    margin-top: 1px;
}

.new-btn {
    float: right;
    margin: 10px 0px;
}

#map-canvas {
    height: 400px;
    left: -15px;
}

.edit-site-button {
    float: right;
    margin-left: 5px;
}

#data-table tr {
    background-color: #f6f6f6;
}

#data-table tr:nth-child(even) {
    background-color: #FFF
}

#data-table thead th {
    background: #fff;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    /*Site tables*/
    border: none;
}

.dataTables_wrapper {
    margin: 0px 15px;
}

@media (max-width: 770px) {
    .detail-mid {
        padding-left: 30px;
    }

    .btn {
        margin-top: 10px;
    }

    #danger-button {
        margin-top: 10px;
    }

    .title .btn {
        margin-top: 10px;
    }

    .row {
        margin-bottom: 10px;
    }
}

/* temporary style for forms */
.form-table input, .form-table textarea, .form-table select {
    width: 500px;
}

.form-table th {
    width: 40%;
    text-align: right;
    padding-right: 3%;
}

.form-table tr {
    margin-bottom: 3%;
}

form input[type=submit] {
    width: 115px;
    float: right;
}

.errorlist {
    color: red;
    list-style-type: none;
}