body {
    /*overflow-x: hidden;*/
}

.alert {
    margin-top: 0%;
    border-radius: 0px;
    width: 100%;
    padding: 3px;
    padding-left: 45%;
    margin-bottom: 0px;
}

#username {
    text-decoration: none;
}

#data-table {
    width: 100%;
}

.navbar {
    background: #f5f5f5;
    margin-bottom: 0px;
}

.title h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.title .btn {
    margin-top: 0px;
}

.detail-mid {
    margin-bottom: 20px;
}

.row {
    margin-bottom: 15px;
}

.divider {
    margin-bottom: 0px
}

.footer {
    padding: 0px 15px;
    margin-right: 0px;
    text-align: justify;
    background: #f5f5f5;
    margin-bottom: -15px;
    padding-bottom: 5%;
    padding-top: 1.7%;}

#image_logo {
    padding: 0.6px 9px;
    margin-top: 1px;
}

.new-btn {
    float: right;
    margin: 10px 0px;
}

#map-canvas {
    height: 400px;
    left: -15px;
}

.edit-site-button {
    float: right;
    margin-left: 5px;
}

#data-table tr {
    background-color: #f6f6f6;
}

#data-table tr:nth-child(even) {
    background-color: #FFF
}

#data-table thead th {
    background: #fff;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    /*Site tables*/
    border: none;
    vertical-align: middle;
}

.dataTables_wrapper {
    margin: 0px 15px;
}

@media (max-width: 770px) {
    .detail-mid {
        padding-left: 30px;
    }

    .btn {
        margin-top: 10px;
    }

    #danger-button {
        margin-top: 10px;
    }

    .title .btn {
        margin-top: 10px;
    }

    .row {
        margin-bottom: 10px;
    }
}


/* temporary style for forms */
.form-table input, .form-table textarea, .select-two {
    width: 85%;
}

.form-table th {
    width: 20%;
    text-align: right;
    padding-right: 3%;
    vertical-align: middle;;
}

.form-table tr {
    margin-bottom: 3%;
}

form input[type=submit] {
    width: 115px;
    float: right;
}

input[type=checkbox], input[type=radio] {
  height: 20px;
  width: 25%;
}

.errorlist {
    color: red;
    list-style-type: none;
}

input.btn.btn-primary.form-control {
  width: 66%;
}

table a.btn.btn-default {
  margin-right: 2%;
  width: 17%;
  float: left;
}

.form-table label {
  margin-bottom: 0px;
}

.form-table th {
    vertical-align: middle;
}

.input-group .form-control {
  width: 85%;
}

.form-table .row {
  margin-left: 0px;
  margin-right: 0px;
}
